// Grid
$row-width: 1024px;
$column-gutter: 30px;
$align-block-grid-to-grid: true;
$include-xl-html-grid-classes: true;

// Breakpoint ranges
$small-range: ($small-range-min, $small-range-max);
$medium-range: ($medium-range-min, $medium-range-max);
$large-range: ($large-range-min, $large-range-max);
$xlarge-range: ($xlarge-range-min, $xlarge-range-max);

// Base
$body-bg-color: #fff;

// Homepage and section landings
$fixed-column-width: 300px;

// Header heights
$tl-header-bg-primary-color: #111;
$tl-header-primary-color: $color-primary;
//$tl-header-bg-secondary-color: $color-primary-light;
$tl-header-max-width: $row-width;
$tl-header-heading-font-weight: normal;
$to-love-global-header-height-mobile: 40px;
$to-love-global-header-height-desktop: 51px;
$global-header-height: $to-love-global-header-height-mobile;
$global-header-height-desktop: $to-love-global-header-height-desktop;

$header-height: 55px;
$header-height-desktop: 75px;
$header-banner-logo-height: 170px;
$header-logo-width-desktop: 152px;
$header-logo-container-width-desktop: $header-logo-width-desktop + $column-gutter;

$header-logo-path: '/assets/images/cosmo-logo.svg';
$header-banner-background-path: '/assets/backgrounds/header.png';
$header-transition-duration: 200ms;

$offcanvas-background-color: $color-black;
$color-header-menu-button: $color-primary;
$color-header-bottom-border: none;
$color-header-nav-divider: #666666;


// Side menu
$offcanvas-width: 270px;
$offcanvas-tablet-width: 450px;
$offcanvas-desktop-width: 615px;
$side-menu-width: 270px;
$side-menu-width-small: $side-menu-width;
$side-menu-width-big: 450px;

$transition-duration: 200ms;
$animation-timings: $transition-duration;

// Gallery
$gallery-color-primary: $color-primary;
$gallery-color-grey: $color-black;

// Article
$related-content-border-color: $color-primary;
$content-expanded-xlarge-width: 100%;

// Footer
$back-to-top-background-color: $color-primary;
$social-title-image: '/assets/titles/get-more-dolly.svg';
