// Grid
$row-width: 1024px;
$column-gutter: 30px;
$align-block-grid-to-grid: true;
$include-xl-html-grid-classes: true;

// Breakpoint ranges
$small-range: ($small-range-min, $small-range-max);
$medium-range: ($medium-range-min, $medium-range-max);
$large-range: ($large-range-min, $large-range-max);
$xlarge-range: ($xlarge-range-min, $xlarge-range-max);

// Base
$body-bg-color: #fff;

// Homepage and section landings
$fixed-column-width: 300px;

// Header heights
$tl-header-bg-primary-color: #111;
$tl-header-primary-color: $color-primary;
//$tl-header-bg-secondary-color: $color-primary-light;
$tl-header-max-width: $row-width;
$tl-header-heading-font-weight: normal;
$to-love-global-header-height-mobile: 40px;
$to-love-global-header-height-desktop: 51px;
$global-header-height: $to-love-global-header-height-mobile;
$global-header-height-desktop: $to-love-global-header-height-desktop;

$header-height: 54px;
$header-height-desktop: 58px;
$header-banner-logo-height: 170px;
$header-logo-width-desktop: 212px;
$header-logo-container-width-desktop: $header-logo-width-desktop;
$header-logo-path: '/assets/logos/header-logo.svg';
$header-banner-background-path: '/assets/backgrounds/header.png';
$header-transition-duration: 200ms;

$page-title-height: 135px;
$ad-wallpaper-top-mobile: $header-height;
$ad-wallpaper-top-pinned: $header-height-desktop;
$ad-wallpaper-top-unpinned-90: -148px;  // top leaderBoard has 90 height
$ad-wallpaper-top-unpinned-250: -308px; // top leaderBoard has 250 height
$ad-wallpaper-top-unpinned-90-with-page-title: $ad-wallpaper-top-unpinned-90 + -$page-title-height;
$ad-wallpaper-top-unpinned-250-with-page-title: $ad-wallpaper-top-unpinned-250 + -$page-title-height;

$offcanvas-background-color: $color-black;
$color-header-menu-button: $color-primary;
$color-header-bottom-border: none;
$color-header-nav-divider: #666666;


// Side menu
$offcanvas-width: 270px;
$offcanvas-tablet-width: 450px;
$offcanvas-desktop-width: 615px;
$side-menu-width: 270px;
$side-menu-width-small: $side-menu-width;
$side-menu-width-big: 450px;

$transition-duration: 200ms;
$animation-timings: $transition-duration;

// Gallery
$gallery-color-primary: $color-black;
$gallery-color-grey: $color-black;

// Article
$related-content-border-color: #dddddd;

// Footer
$back-to-top-background-color: $color-primary;
$footer-gap: 40px;


//section page
$play-icon: '/assets/icons/play-icon.svg';
$gallery-icon: '/assets/icons/gallery-icon.svg';

//promoted component
$promoted-teaser-title-size: 14px;
$promoted-teaser-title-lineheight: 20px;
$promoted-teaser-gutter: 20px;

//mustread component
$must-teaser-title-size: 14px;
$must-teaser-title-lineheight: 20px;
$must-teaser-gutter: 20px;

//menu hover
$menu-hover-border-thickness: 1px;
$menu-hover-border-color: #fff;
$menu-hover-border-bottom-distance: -3px;

//video button
$video-button-height: 85px;
$video-button-width: 100px;
$video-button-border: 6px;

$video-button-height-sml: 42.5px;
$video-button-width-sml: 50px;
$video-button-border-sml: 2px;


// Social share button
$facebook-share-color: #3B5999;
$pinterest-share-color: #D51D25;

//polar height in related feed
$polar-in-related-feed-height: 56.5%;

