// Config
@import 'vendor/foundation/settings';
@import 'helpers/breakpoints';
@import 'helpers/colors';
@import 'helpers/socialColors';
@import 'settings';

// @BXM Config
@import '../../node_modules/@bxm/article/styles/helpers/article-vars';

// Vendor
@import 'vendor/normalize';
@import 'vendor/foundation/functions';
@import 'vendor/foundation/components/grid';
@import 'vendor/foundation/components/block-grid';
@import 'vendor/foundation/components/visibility';

// Helpers
@import 'helpers/icons';
@import 'helpers/typography';
@import 'helpers/responsive-image';
@import 'helpers/z-indices';
@import 'helpers/grid';

// Helpers - Mixins
@import '../../node_modules/@bxm/article/styles/helpers/mixins/article';
@import 'helpers/mixins/side-menu-slider';

// Ads
@import 'ads';

@import 'components/buttons'; // Needs to be before `@bxm/page` as back to top button shows incorrectly

// @BXM Components
@import '../../node_modules/@bxm/ui/lib/to-love/common';
@import '../../node_modules/@bxm/social/styles/socialicons';
@import '../../node_modules/@bxm/modal/styles/modal';
@import '../../node_modules/@bxm/article/styles/page';
@import '../../node_modules/@bxm/ui/lib/to-love/video/videoPlayer';
@import '../../node_modules/@bxm/article/styles/components/content-body/content-body';
@import '../../node_modules/@bxm/gallery/styles/page';
@import '../../node_modules/@bxm/gallery/styles/carousel/main';
@import '../../node_modules/@bxm/ad/styles/google/adverts';
@import '../../node_modules/@bxm/header/lib/header/header';
@import '../../node_modules/@bxm/header/lib/connect/connect';
@import '../../node_modules/@bxm/site-header/styles/main';
@import '../../node_modules/@bxm/nav/scss/nav';
@import '../../node_modules/@bxm/ui/lib/back-to-top/styles';

// Components
@import 'components/repeatable';
@import 'components/page';
@import 'components/mobileNav';
@import 'components/container';
@import 'components/content-body';
@import 'components/video';
@import 'components/header';
@import 'components/uniheader';
@import 'components/gallery';
@import 'components/news-feed';
@import 'components/title';
@import 'components/social-share';

// Pages
@import 'components/page/error';

// Article
@import 'components/article';
@import 'components/feed';
@import 'components/feedItem';

// Footer
@import 'components/footer/footer';
@import 'components/footer/navigation';
@import 'components/footer/newsletter';
@import 'components/footer/subscribe';
@import 'components/footer/back-to-top';

// Home Page
@import 'components/home/container';
@import 'components/home/ad';
@import 'components/home/carousel';
@import 'components/home/teasers';

// Section Pages
@import 'components/section/container';

// Teasers
@import 'components/teaser/base';
@import 'components/teaser/hero';
@import 'components/teaser/view';
@import 'components/teaser/grid-box';
@import 'components/teaser/grid-layout';
@import 'components/teaser/list-box';
@import 'components/teaser/list-layout';

//Homepage
@import 'components/trending';

//inline gallery homepage
@import 'components/inline-gallery/item';
@import 'components/inline-gallery/carousel';

//Social
@import 'components/social/icon';
@import 'components/social/link';
@import 'components/social/social';
@import 'components/social/title';
