@import 'vendor/foundation/components/grid';
@import 'helpers/colors';
@import 'helpers/typography';

$color-styleguide-header: #232831;
$color-styleguide-code: #811aff;
$color-styleguide-grey: #ddd;

.styleguide {
    .body-wrapper,
    .header-wrapper {
        margin: 0 auto;
        min-width: 320px;
        position: relative;
        width: 100%;
    }

    .header {
        background: $color-styleguide-header;
        font-family: $font-family-sans-serif-primary;
        padding: 10px 0;
        position: relative;
        z-index: 1;

        h1 {
            color: $white;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
            max-width: 1200px;
        }

        .row {
            max-width: 90%;
        }
    }

    .code {
        background-color: $color-grey-light;
        color: $color-styleguide-code;
        display: inline-block;
        font: 13px Consolas, Monaco, 'Andale Mono', monospace;
        font-weight: 400;
        padding: 3px 6px;
    }

    &-note {
        color: $color-black;
        font-size: 16px;
        margin: 30px 0;
    }

    &-to-complete {
        background: $color-grey-light;
        color: $color-grey;
        display: inline-block;
        font-family: $font-family-sans-serif-primary;
        height: 100%;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;

        p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-spread {
        background-color: $color-primary;
        display: inline-block;
        height: 3px;
        position: relative;
        width: 100%;

        &:after {
            border-bottom: 6px solid transparent;
            border-left: 6px solid $color-primary;
            border-top: 6px solid transparent;
            content: ' ';
            position: absolute;
            right: -2px;
            top: -4px;
        }
    }
}

// Font styles
h1,
h2,
h3,
h4,
h5,
h6,
h7 {
    color: $color-black;
    font-family: $font-family-sans-serif-primary;
    font-weight: bold;
    margin-bottom: 30px;
}

h1 {
    font-size: 64px;
    line-height: 68px;
}

h2 {
    font-size: 44px;
    line-height: 46px;
}

h3 {
    font-size: 34px;
    line-height: 36px;
}

h4 {
    font-size: 28px;
    line-height: 30px;
}

h5 {
    font-size: 24px;
    line-height: 26px;
}

h6 {
    font-size: 20px;
    font-weight: bold;
    line-height: 22px;
}

h7 {
    font-size: 16px;
    font-weight: bold;
    line-height: 18px;
}

a {
    color: $color-black;

    &:hover {
        text-decoration: none;
    }
}

// Font families
.styleguide-font-family {
    color: $color-black;
    font-size: 20px;
    line-height: 2.5;

    .sans-serif-primary {
        font-family: $font-family-sans-serif-primary;
        text-transform: uppercase;

        &--thin {
            font-weight: 100;
        }
    }
}

.styleguide-colours {
    &__body {
        max-width: 90%;
    }

    &__title {
        color: $color-primary;
        font-family: $font-family-sans-serif-primary;
        font-size: 20px;
        margin: 20px 0 0;
        text-transform: uppercase;
    }

    &__list {
        @include reset-list;
        margin-bottom: 10px;
    }

    &__swatch-group {
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        width: 150px;
    }

    &__swatch {
        display: inline-block;
        height: 150px;
        margin-top: 15px;
        width: 100%;

        &--primary {
            background: $color-primary;

            &-hover {
                background: $color-primary-hover;
            }
        }

        &--yellow {
            background: $color-yellow;
        }

        &--black {
            background: $color-black;

            &-hover {
                background: $color-black-hover;
            }
        }

        &--grey {
            background: $color-grey;

            &-light {
                background: $color-grey-light;
            }
        }
    }

    &__swatch-label {
        color: $color-grey;
        font-family: $font-family-sans-serif-primary;
        font-size: 14px;
        padding: 4px 0 0;
    }
}

.styleguide-section {
    border-top: 2px solid $color-primary;
    margin: 0 0 40px;
    padding-top: 50px;

    &__header {
        background-color: transparent;
        font-family: $font-family-sans-serif-primary;
        padding: 20px 0 10px;

        .row {
            max-width: 90%;
        }
    }

    &__body {
        &__part:not(:first-child) {
            border-top: 1px solid $color-grey-light;
            margin-top: 30px;
            padding-top: 30px;
        }
    }

    &__title {
        color: $color-black;
        font-family: $font-family-sans-serif-primary;
        font-weight: 700;
        text-transform: uppercase;
        font-size: 30px;
    }

    &__row {
        margin: 10px 0 30px;
    }
}

.styleguide-type {
    &__size {
        margin-top: 41px;
        padding: 0 15px;

        &:not(:first-child) {
            border-left: 1px solid $color-styleguide-grey;
        }

        &__title {
            color: $color-grey;
            font-family: $font-family-sans-serif-primary;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__sub-title {
            color: $color-primary;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 22px;
            font-weight: normal;
            margin: 80px 0 40px;
            text-transform: uppercase;
        }
    }

    &__style.row {
        margin: 20px 0 40px;
        min-height: 80px;
        position: relative;

        &.medium {
            min-height: 140px;
        }

        &.tall {
            min-height: 240px;
        }

        &.extra-tall {
            min-height: 320px;
        }

        &.super-tall {
            min-height: 480px;
        }
    }

    &__row {
        max-width: 90%;
    }
}

.type {
    &-hero-title {
        .styleguide-type__small & {
            font-size: 24px;
            line-height: 26px;
        }

        .styleguide-type__medium & {
            font-size: 28px;
            line-height: 30px;
        }

        .styleguide-type__large & {
            font-size: 44px;
            line-height: 46px;
        }
    }

    &-teaser-headline-title {
        .styleguide-type__small &,
        .styleguide-type__medium & {
            font-size: 15px;
        }

        .styleguide-type__large & {
            font-size: 20px;
        }
    }

    &-top-teaser-title {
        .styleguide-type__small & {
            font-size: 24px;
            line-height: 26px;
        }

        .styleguide-type__medium & {
            font-size: 28px;
            line-height: 30px;
        }
    }

    &-bottom-teaser-title {
        .styleguide-type__small & {
            font-size: 16px;
            line-height: 18px;
        }

        .styleguide-type__medium & {
            font-size: 24px;
            line-height: 26px;
        }

        .styleguide-type__large & {
            font-size: 34px;
            line-height: 36px;
        }
    }

    &-teaser-summary {
        .styleguide-type__small & {
            font-size: 16px;
            line-height: 20px;
        }

        .styleguide-type__large & {
            font-size: 18px;
            line-height: 25px;
        }
    }

    &-teaser-tag {
        .styleguide-type__small & {
            font-size: 7px;
            letter-spacing: .1em;
            line-height: 5;

            span {
                font-size: 11px;
                line-height: 12px;
            }
        }

        .styleguide-type__large & {
            font-size: 10px;
            letter-spacing: .05em;
            line-height: 3.2;

            span {
                font-size: 16px;
                line-height: 24px;
            }
        }
    }

    &-article-title {
        .styleguide-type__small & {
            font-size: 24px;
            line-height: 26px;
        }


        .styleguide-type__medium & {
            font-size: 44px;
            line-height: 46px;
        }

        .styleguide-type__large & {
            font-size: 64px;
            line-height: 68px;
        }
    }

    &-article-summary {
        .styleguide-type__small & {
            font-size: 19px;
            line-height: 25px;
        }

        .styleguide-type__medium & {
            font-size: 22px;
            line-height: 34px;
        }
    }

    &-article-body {
        .styleguide-type__small & {
            font-size: 19px;
            line-height: 25px;
        }

        .styleguide-type__medium & {
            font-size: 22px;
            line-height: 34px;
        }
    }

    &-article-heading {
        .styleguide-type__small & {
            font-size: 24px;
            line-height: 26px;
        }

        .styleguide-type__medium & {
            font-size: 34px;
            line-height: 36px;
        }
    }

    &-related-teaser-title {
        .styleguide-type__small & {
            font: 16px / 18px $font-family-sans-serif-primary;
        }

        .styleguide-type__medium & {
            font-size: 24px;
            line-height: 26px;
        }
    }

    &-article-recommendation-title {
        .styleguide-type__small & {
            font: 16px / 18px $font-family-sans-serif-primary;
        }

        .styleguide-type__medium & {
            font-size: 20px;
            line-height: 22px;
        }
    }

    &-section-title {
        margin-bottom: 20px;

        .styleguide-type__small & {
            font-size: 30px;
        }

        .styleguide-type__medium & {
            font-size: 60px;
        }

        .styleguide-type__large & {
            font-size: 76px;
        }
    }
}

.styleguide-teaser {
    width: 240px;
}
