@import 'vendor/foundation/components/grid';
@import 'helpers/colors';
@import 'helpers/typography';

$color-styleguide-header: #232831;
$color-styleguide-code: #811aff;
$color-styleguide-grey: #ddd;

.styleguide {
    .body-wrapper,
    .header-wrapper {
        margin: 0 auto;
        min-width: 320px;
        position: relative;
        width: 100%;
    }

    .header {
        background: $color-styleguide-header;
        font-family: $font-family-sans-serif-primary;
        padding: 10px 0;
        position: relative;
        z-index: 1;

        h1 {
            color: $white;
            font-size: 20px;
            font-weight: normal;
            margin: 0;
            max-width: 1200px;
        }
    }

    .code {
        background-color: $color-grey-light;
        color: $color-styleguide-code;
        font: 13px Consolas, Monaco, 'Andale Mono', monospace;
        font-weight: 400;
        padding: 3px 6px;
    }

    &-note {
        color: $color-black;
        font-size: 16px;
        margin: 30px 0;
    }

    &-to-complete {
        background: $color-grey-light;
        color: $color-grey;
        display: inline-block;
        font-family: $font-family-sans-serif-primary;
        height: 100%;
        position: absolute;
        text-align: center;
        text-transform: uppercase;
        vertical-align: middle;
        width: 100%;

        p {
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }
    }

    &-spread {
        background-color: $color-primary;
        display: inline-block;
        height: 3px;
        position: relative;
        width: 100%;

        &:after {
            border-bottom: 6px solid transparent;
            border-left: 6px solid $color-primary;
            border-top: 6px solid transparent;
            content: ' ';
            position: absolute;
            right: -2px;
            top: -4px;
        }
    }
}

.styleguide-section {
    margin: 0 0 40px;

    &__header {
        background-color: $color-primary;
        font-family: $font-family-sans-serif-primary;
        padding: 20px 0 10px;
    }

    &__body {
        &__part:not(:first-child) {
            border-top: 1px solid $color-grey-light;
            margin-top: 30px;
            padding-top: 30px;
        }
    }

    &__title {
        color: $color-white;
        font-family: $font-family-sans-serif-primary;
        font-size: 22px;
        font-weight: 700;
        text-transform: uppercase;
    }

    &__row {
        margin: 10px 0 30px;
    }
}

.styleguide-colours {
    &__title {
        color: $color-primary;
        font-family: $font-family-sans-serif-primary;
        font-size: 20px;
        margin: 20px 0 0;
        text-transform: uppercase;
    }

    &__list {
        @include reset-list;
        margin-bottom: 10px;
    }

    &__swatch-group {
        display: inline-block;
        margin-right: 30px;
        vertical-align: top;
        width: 150px;
    }

    &__swatch {
        display: inline-block;
        height: 150px;
        margin-top: 15px;
        width: 100%;

        &--primary {
            background: $color-primary;
        }

        &--purple {
            background: $color-purple;
        }

        &--violet {
            background: $color-violet;
        }

        &--blue {
            background: $color-blue;
        }

        &--green {
            background: $color-green;
        }

        &--yellow {
            background: $color-yellow;
        }

        &--orange {
            background: $color-orange;
        }

        &--red {
            background: $color-red;
        }

        &--black {
            background: $color-black;
        }

        &--grey {
            background: $color-grey;
        }

        &--primary-light {
            background: $color-primary-light;
        }

        &--purple-light {
            background: $color-purple-light;
        }

        &--blue-light {
            background: $color-blue-light;
        }

        &--green-light {
            background: $color-green-light;
        }

        &--yellow-light {
            background: $color-yellow-light;
        }

        &--orange-light {
            background: $color-orange-light;
        }

        &--red-light {
            background: $color-red-light;
        }

        &--grey-light {
            background: $color-grey-light;
        }

        &--white {
            background: $color-white;
            border: 1px solid $color-grey-light;
        }
    }

    &__swatch-label {
        color: $color-grey;
        font-family: $font-family-sans-serif-primary;
        font-size: 14px;
        padding: 4px 0 0;
    }
}

.styleguide-type {
    &__size {
        margin-top: 41px;
        padding: 0 15px;

        &:not(:first-child) {
            border-left: 1px solid $color-styleguide-grey;
        }

        &__title {
            color: $color-grey;
            font-family: $font-family-sans-serif-primary;
            font-size: 20px;
            font-weight: 700;
            text-transform: uppercase;
        }

        &__sub-title {
            color: $color-primary;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 24px;
            font-weight: normal;
            margin: 80px 0 40px;
            text-transform: uppercase;
        }
    }

    &__style.row {
        margin: 20px 0 40px;
        min-height: 80px;
        position: relative;

        &.medium {
            min-height: 140px;
        }

        &.tall {
            min-height: 240px;
        }

        &.extra-tall {
            min-height: 320px;
        }

        &.super-tall {
            min-height: 480px;
        }
    }
}

// override the media queries so that small/medium/large show despite screen width
.type {
    &-hero-title {
        .styleguide-type__small & {
            font-size: 22px;
            line-height: 30px;
        }

        .styleguide-type__medium & {
            font-size: 28px;
            line-height: 38px;
        }

        .styleguide-type__large & {
            font-size: 40px;
            line-height: 52px;
        }
    }

    &-hero-summary {
        .styleguide-type__small & {
            font-size: 15px;
            line-height: 25px;
        }

        .styleguide-type__large & {
            font-size: 20px;
            line-height: 32px;
        }
    }

    &-hero-color-block {
        color: $color-black;
        .styleguide-type__small & {
            font-size: 11px;
        }

        .styleguide-type__medium & {
            font-size: 14px;
            line-height: 24px;
        }

        .styleguide-type__large & {
            font-size: 16px;
            line-height: 28px;
        }
    }

    &-bottom-teaser-title {
        .styleguide-type__small & {
            font-size: 15px;
            line-height: 21px;
        }

        .styleguide-type__medium & {
            font-size: 22px;
            line-height: 30px;
        }

        .styleguide-type__large & {
            font-size: 34px;
            line-height: 44px;
        }
    }

    &-top-teaser-title {
        .styleguide-type__small & {
            font-size: 22px;
            line-height: 30px;
        }

        .styleguide-type__large & {
            font-size: 28px;
            line-height: 38px;
        }
    }

    &-related-teaser-title {
        color: $color-black;

        .styleguide-type__small & {
            font-size: 15px;
            line-height: 21px;
        }

        .styleguide-type__medium & {
            font-size: 22px;
            line-height: 30px;
        }
    }

    &-teaser-summary {
        .styleguide-type__small & {
            font-size: 15px;
            line-height: 25px;
        }

        .styleguide-type__large & {
            font-size: 16px;
            line-height: 26px;
        }
    }

    &-teaser-color-block {
        color: $color-black;

        .styleguide-type__small & {
            font-size: 11px;
        }

        .styleguide-type__large & {
            font-size: 14px;
        }
    }

    &-article-title {
        .styleguide-type__small & {
            font-size: 22px;
            line-height: 30px;
        }

        .styleguide-type__medium & {
            font-size: 46px;
            line-height: 58px;
        }

        .styleguide-type__large & {
            font-size: 62px;
            line-height: 80px;
        }
    }

    &-article-summary {
        .styleguide-type__small & {
            font-size: 15px;
            line-height: 25px;
        }

        .styleguide-type__medium & {
            font-size: 20px;
            line-height: 36px;
        }
    }

    &-article-body {
        .styleguide-type__small & {
            font-size: 15px;
            line-height: 25px;
        }

        .styleguide-type__medium & {
            font-size: 18px;
            line-height: 24px;
        }
    }

    &-article-heading {
        .styleguide-type__small & {
            font-size: 22px;
            line-height: 30px;
        }

        .styleguide-type__medium & {
            font-size: 30px;
            line-height: 40px;
        }
    }

    &-article-quote {
        .styleguide-type__small & {
            font-size: 26px;
        }

        .styleguide-type__large & {
            font-size: 36px;
        }
    }

    &-section-title {
        .styleguide-type__small & {
            font-size: 36px;
        }

        .styleguide-type__medium & {
            font-size: 60px;
        }

        .styleguide-type__large & {
            font-size: 80px;
        }
    }

    &-gallery-header {
        .styleguide-type__small & {
            font-size: 17px;
        }

        .styleguide-type__large & {
            font-size: 20px;
        }
    }

    &-inline-gallery-header,
    &-inline-gallery-title {
        color: $color-black;

        .styleguide-type__small & {
            font-size: 15px;
        }

        .styleguide-type__large & {
            font-size: 20px;
        }
    }

    &-inline-gallery-header {
        color: $color-black;
    }

    &-tags {
        color: $color-black;
    }

    &-renovation-status {
        color: $color-black;
    }
}
