.mustread-teaser-view-grid,
.promoted-teaser-view-grid,
.teaser-view-grid {
    .teaser__title {
        text-transform: none;
        margin-bottom: 6px;
        font: 400 24px/28px $font-family-sans-serif-primary;

        @media #{$medium-up} {
            font: 400 22px/30px $font-family-sans-serif-primary;
        }

        a {
            text-decoration: none;
        }
    }

    .teaser__body {
        margin-top: 7px;
        position: relative;
        font-family: $font-family-sans-serif-primary;
    }

    .teaser__source {
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        padding: 0 15px;
        color: $color-grey-light;
        text-transform: uppercase;
        letter-spacing: .7px;

        @media #{$medium-up} {
            padding: 0;
            line-height: 12px;
        }

        span:first-child:not(.teaser__source__breaker),
        &--now-to-love span:first-child:not(.teaser__source__breaker) {
            color: $nl-color;
        }

        &--woman-s-day span:first-child:not(.teaser__source__breaker) {
            color: $wd-color;
        }

        &--aww span:first-child:not(.teaser__source__breaker),
        &--australian-women-s-weekly span:first-child:not(.teaser__source__breaker) {
            color: $aww-color;
        }

        &--good-health span:first-child:not(.teaser__source__breaker) {
            color: $good-health-color;
        }

        &--yours span:first-child:not(.teaser__source__breaker) {
            color: $yours-color;
        }

        &--ok--magazine span:first-child:not(.teaser__source__breaker) {
            color: $ok-color;
        }

        &--shop-til-you-drop span:first-child:not(.teaser__source__breaker) {
            color: $shop-color;
        }

        &--mother-and-baby span:first-child:not(.teaser__source__breaker) {
            color: $mother-baby-color;
        }

        &--take-5 span:first-child:not(.teaser__source__breaker) {
            color: $take-5-color;
        }

        &--nw span:first-child:not(.teaser__source__breaker) {
            color: $nw-color;
        }

        &__breaker span:first-child {
            color: $color-grey-light;
            margin: 0 5px;
        }

        &__breaker {
            color: $color-grey-light;
            margin: 0 5px;
        }
    }

    @media #{$small-only} {
        .teaser__body {
            margin-bottom: 40px;
            margin-top: 8px;
        }

        .teaser__title,
        .teaser__summary {
            padding-left: 15px;
            padding-right: 15px;
        }

        .teaser__title {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .teaser__badge-container {
            margin-left: 15px;
        }
    }

    @media #{$medium-only} {
        .teaser__title,
        .teaser__summary {
            padding-left: 0;
        }

        .teaser__badge-container {
            margin-left: 0;
        }
    }

    @media #{$medium-up} {
        .teaser__title {
            margin-bottom: 8px;
        }

        .teaser__body {
            margin-bottom: 30px;
        }
    }
}

.mustread-teaser-view-grid {

    .home-page__teasers-title {
        margin-top: 20px;
        margin-bottom: 14px;
        display: block;

        @media #{$medium-up} {
            margin-top: 0;

            &:before {
                width: calc(100% - #{$must-teaser-gutter});
            }
        }
    }

    .teaser__list {
        margin-bottom: 15px;

        @media #{$medium-up} {
            margin-bottom: 35px;
        }
    }

    .teaser__list-item {
        padding-bottom: 0;

        .teaser__title {
            font-size: $must-teaser-title-size;
            line-height: $must-teaser-title-lineheight;
            padding-left: 0;
            padding-right: 0;
            display: block;
            a {
                color: #000;
            }
        }

        .teaser__source {
            padding-left: 0;
            padding-right: 0;
            letter-spacing: .7px;
        }

        .teaser__body {
            margin-bottom: 0;
        }

        .teaser.teaser--has-video:after,
        .teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

        &:hover {
            .teaser__title {
                a {
                    color: #333;
                }
            }
        }

        &:nth-child(-n+6) {
            padding-left: $must-teaser-gutter/2;
            padding-right: $must-teaser-gutter/2;
        }

        &:nth-child(1) {
            padding-left: 0;
        }

        &:nth-child(2) {
            padding-right: 0;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }

        @media #{$medium-up} {

            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }

            &:nth-child(1) {
                padding-left: $must-teaser-gutter/2;
            }

            &:nth-child(2) {
                padding-right: $must-teaser-gutter/2;
            }
        }

        @media #{$large-up} {
            &:nth-child(5),
            &:nth-child(6) {
                display: block;
            }
        }
    }
}

.promoted-teaser-view-grid {
    padding-left: $promoted-teaser-gutter;
    padding-right: $promoted-teaser-gutter;

    @media #{$medium-up} {
        padding-left: 0;
        padding-right: 0;
    }

    .home-page__teasers-title {
        margin-top: 20px;
        margin-bottom: 14px;
        display: block;

        &:before {
            border-top-color: transparent;
        }

        @media #{$small-up} {
            
            &:before {
                border-top-color: #e9e9e9;
            }
        }

    }

    .teaser__list-item {
        padding-bottom: 0;

        .teaser__title {
            font-size: $promoted-teaser-title-size;
            line-height: $promoted-teaser-title-lineheight;
            padding-left: 0;
            padding-right: 0;
            display: block;

            a {
                color: #000;
            }
        }
        
        .teaser__source {
            padding-left: 0;
            padding-right: 0;
            letter-spacing: .7px;
         }

        .teaser__body {
            margin-bottom: 0;
        }

        .teaser.teaser--has-video:after,
        .teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

        &:hover {

            .teaser__title {

                a {
                    color: #333;
                }
            }
        }

        &:nth-child(-n+4) {
            padding-left: $promoted-teaser-gutter/2;
            padding-right: $promoted-teaser-gutter/2;
        }

        &:nth-child(1) {
            padding-left: 0;
        }

        &:nth-child(2) {
            padding-right: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
            display: none;
        }

        @media #{$medium-up} {

            &:nth-child(3) {
                display: block;
            }

            &:nth-child(1) {
                padding-left: $promoted-teaser-gutter/2;
            }

            &:nth-child(2) {
                padding-right: $promoted-teaser-gutter/2;
            }
        }

        @media #{$large-up} {

            &:nth-child(4) {
                display: block;
            }
        }
    }
}

//--------------Polar ads size adjust, it may be removed later------------------
$must-read-polar-height: 56.5%;
$top-news-feed-polar-height: 83%;
$top-news-feed-polar-height-sml: 56.23%;
$bottom-news-feed-polar-height-lg: 25.6%;
$bottom-news-feed-polar-height-md: 56%;
$bottom-news-feed-polar-height-sml: 35%;

.teaser--polar {
    .teaser__image {
        position: relative;
        height: 0;
        overflow: hidden;
        display: block; 
    }

    h3.teaser__title {
        margin-top: 0;
    }

    .mustread-teaser-view-grid & {

        .teaser__image {
            padding-bottom: $must-read-polar-height;
        }
    }

    .top-news-feed & {

        .teaser__image {
            padding-bottom: $top-news-feed-polar-height-sml;

            @media #{$medium-up} {
                padding-bottom: $top-news-feed-polar-height;
            }
        }
    }

    .bottom-news-feed & {
        .teaser__image {
            padding-bottom: $bottom-news-feed-polar-height-sml;

            @media #{$medium-up} {
                padding-bottom: $bottom-news-feed-polar-height-md;
            }

            @media #{$large-up} {
                padding-bottom: $bottom-news-feed-polar-height-lg;
            }
        }
    }
}

