.teaser-view-grid {
    .teaser__title {
        padding-top: 5px;
        margin-bottom: 6px;
    }

    .teaser__body {
        margin-top: 12px;
        position: relative;
    }

    @media #{$small-only} {
        .teaser__body {
            margin-bottom: 40px;
        }

        .teaser__title,
        .teaser__summary {
            padding-left: 15px;
            padding-right: 15px;
        }

        .teaser__badge-container {
            margin-left: 15px;
        }
    }

    @media #{$medium-only} {
        .teaser__title,
        .teaser__summary {
            padding-left: 0;
            padding-right: 10px;
        }

        .teaser__badge-container {
            margin-left: 0;
        }
    }

    @media #{$medium-up} {
        .teaser__title {
            margin-bottom: 12px;
        }

        .teaser__body {
            margin-bottom: 30px;
        }
    }

    @media #{$large-up} {
        .teaser__body {
            margin-top: 14px;
        }

        .teaser__title,
        .teaser__summary {
            padding-left: 0;
            padding-right: 10px;
        }
    }

    @media #{$xlarge-only} {
        .teaser {
            position: relative;
        }

        .teaser__image {
            &:before {
                left: 0;
                right: 0;
            }
        }

        .teaser__title {
            padding-top: 7px;
        }

        .teaser__body {
            margin-bottom: 40px;
        }
    }
}
