.mustread-teaser-view-grid,
.promoted-teaser-view-grid,
.teaser-view-grid {
    .teaser__title {
        text-transform: none;
        margin-bottom: 6px;

        a {
            text-decoration: none;
        }
    }

    .teaser__body {
        margin-top: 7px;
        position: relative;
        font-family: $font-family-questrial;
    }

    .teaser__source {
        font-size: 11px;
        line-height: 15px;
        font-weight: 400;
        padding: 0 15px;
        color: $nl-color;
        text-transform: uppercase;
        letter-spacing: .7px;

        @media #{$medium-up} {
            padding: 0;
            line-height: 12px;
        }

        &--now-to-love {
            color: $nl-color;
        }

        &--woman-s-day {
            color: $wd-color;
        }

        &--aww,
        &--australian-women-s-weekly {
            color: $aww-color;
        }

        &--good-health {
            color: $good-health-color;
        }

        &--yours {
            color: $yours-color;
        }

        &--ok--magazine {
            color: $ok-color;
        }

        &--bounty {
            color: $bounty-color;
        }

        &--take-5 {
            color: $take-5-color;
        }

        &--nw {
            color: $nw-color;
        }

        &--tv-week {
            color: $tv-color;
        }

        &--prizes-to-love {
            color: $ptl-color;
        }

        &--empire {
            color: $empire-color;
        }

        &__breaker span:first-child {
            color: $color-grey-lighter-level-one;
            margin: 0 3px 0 2px;
        }

        &__breaker {
            color: $color-grey-lighter-level-one;
            margin: 0 3px 0 2px;
        }
    }

    .teaser__source-date {
        color: $color-grey-light;
    }

    .teaser__source-info {
        margin-right: 2px;
    }

    .teaser__brand-image {
        max-height: 17px;
        max-width: 85px;
        margin: 5px 2px 5px 0;
    }

    @media #{$small-only} {
        .teaser__body {
            margin-bottom: 40px;
            margin-top: 8px;
        }

        .teaser__title,
        .teaser__summary {
            padding-left: 15px;
            padding-right: 15px;
        }

        .teaser__title {
            margin-top: 10px;
            margin-bottom: 10px;
        }

        .teaser__badge-container {
            margin-left: 15px;
        }
    }

    @media #{$medium-only} {
        .teaser__title,
        .teaser__summary {
            padding-left: 0;
        }

        .teaser__badge-container {
            margin-left: 0;
        }
    }

    @media #{$medium-up} {
        .teaser__title {
            margin-bottom: 15px;
        }

        .teaser__body {
            margin-bottom: 30px;
        }
    }

    .teaser.teaser--nz {
        .teaser__source--next span:first-child:not(.teaser__source__breaker) {
            color: $nz-next-color;
        }

        .teaser__source--woman-s-day span:first-child:not(.teaser__source__breaker) {
            color: $nz-womans-day-color;
        }

        .teaser__source--the-australian-women-s-weekly span:first-child:not(.teaser__source__breaker) {
            color: $nz-aww-color;
        }

        .teaser__source--new-zealand-woman-s-weekly span:first-child:not(.teaser__source__breaker) {
            color: $nz-womans-weekly-color;
        }

        .teaser__source--good-health-choices span:first-child:not(.teaser__source__breaker) {
            color: $nz-good-health-choices-color;
        }

        .teaser__source--nadia span:first-child:not(.teaser__source__breaker) {
            color: $nz-nadia-color;
        }

        .teaser__source--beauty-to-love span:first-child:not(.teaser__source__breaker) {
            color: $nz-btl-color;
        }
    }
}

.teaser-view-grid {

    .teaser__title {

        a {
            @include type-bottom-teaser-title;
        }
    }
}

.mustread-teaser-view-grid {

    .home-page__teasers-title {
        margin-top: 20px;
        margin-bottom: 18px;
        display: block;
        @include type-teaser-grid-title-font;

        @media #{$medium-up} {
            margin-top: 0;

            &:before {
                border: 0; // TODO - clean this up from bxm package
                width: calc(100% - #{$must-teaser-gutter});
            }
        }
    }

    .teaser__list {
        margin-bottom: 15px;

        @media #{$medium-up} {
            margin-bottom: 35px;
        }
    }

    .teaser__list-item {
        padding-bottom: 0;

        .teaser__title {
            font: 400 12px/20px $font-family-questrial;
            padding-left: 0;
            padding-right: 0;
            display: block;

            @media #{$medium-up} {
                font: 400 13px/20px $font-family-questrial;
            }

            a {
                color: $color-black-origin;
            }
        }

        .teaser__source {
            display: none;
        }

        .teaser__body {
            margin-bottom: 0;
        }

        .teaser.teaser--has-video:after,
        .teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

        &:hover {
            .teaser__title {
                a {
                    color: $color-black-origin;
                }
            }
        }

        &:nth-child(-n+6) {
            padding-left: $must-teaser-gutter/2;
            padding-right: $must-teaser-gutter/2;
        }

        &:nth-child(1) {
            padding-left: 0;
        }

        &:nth-child(2) {
            padding-right: 0;
        }

        &:nth-child(3),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
            display: none;
        }

        @media #{$medium-up} {

            &:nth-child(3),
            &:nth-child(4) {
                display: block;
            }

            &:nth-child(1) {
                padding-left: $must-teaser-gutter/2;
            }

            &:nth-child(2) {
                padding-right: $must-teaser-gutter/2;
            }
        }

        @media #{$large-up} {
            &:nth-child(5),
            &:nth-child(6) {
                display: block;
            }
        }
    }
}

.promoted-teaser-view-grid {
    padding-left: $promoted-teaser-gutter;
    padding-right: $promoted-teaser-gutter;
    margin-top: 40px;
    margin-bottom: 38px;

    @media #{$medium-up} {
        margin-top: 70px;
        padding-left: 0;
        padding-right: 0;
    }

    .home-page__teasers-title {
        @include type-teaser-grid-title-font;
        margin-top: 20px;
        margin-bottom: 18px;
        display: block;
    }

    .teaser__list-item {
        padding-bottom: 0;

        .teaser__title {
            font: 400 12px/20px $font-family-questrial;
            padding-left: 0;
            padding-right: 0;
            display: block;

            @media #{$medium-up} {
                font: 400 13px/20px $font-family-questrial;
            }

            a {
                color: $color-black-origin;
            }
        }

        .teaser__source {
            display: none;
         }

        .teaser__body {
            margin-bottom: 0;
        }

        .teaser.teaser--has-video:after,
        .teaser.teaser--gallery:after {
            width: 25px;
            height: 25px;
        }

        &:hover {

            .teaser__title {

                a {
                    color: #333;
                }
            }
        }

        &:nth-child(-n+4) {
            padding-left: $promoted-teaser-gutter/2;
            padding-right: $promoted-teaser-gutter/2;
        }

        &:nth-child(1) {
            padding-left: 0;
        }

        &:nth-child(2) {
            padding-right: 0;
        }

        &:nth-child(3),
        &:nth-child(4) {
            display: none;
        }

        @media #{$medium-up} {

            &:nth-child(3) {
                display: block;
            }

            &:nth-child(1) {
                padding-left: $promoted-teaser-gutter/2;
            }

            &:nth-child(2) {
                padding-right: $promoted-teaser-gutter/2;
            }
        }

        @media #{$large-up} {

            &:nth-child(4) {
                display: block;
            }
        }
    }
}

//--------------Polar ads size adjust, it may be removed later------------------
$must-read-polar-height: 56.5%;
$top-news-feed-polar-height: 83%;
$top-news-feed-polar-height-sml: 56.23%;
$bottom-news-feed-polar-height-lg: 25.6%;
$bottom-news-feed-polar-height-md: 56%;
$bottom-news-feed-polar-height-sml: 35%;

.teaser--polar {
    .teaser__image {
        position: relative;
        height: 0;
        overflow: hidden;
        display: block;
    }

    h3.teaser__title {
        margin-top: 0;
    }

    .mustread-teaser-view-grid & {

        .teaser__image {
            padding-bottom: $must-read-polar-height;
        }
    }

    .top-news-feed & {

        .teaser__image {
            padding-bottom: $top-news-feed-polar-height-sml;

            @media #{$medium-up} {
                padding-bottom: $top-news-feed-polar-height;
            }
        }
    }

    .bottom-news-feed & {
        .teaser__image {
            padding-bottom: $bottom-news-feed-polar-height-sml;

            @media #{$medium-up} {
                padding-bottom: $bottom-news-feed-polar-height-md;
            }

            @media #{$large-up} {
                padding-bottom: $bottom-news-feed-polar-height-lg;
            }
        }

        &.polar-horizontal {
            .teaser__image span {
                position: absolute;
                top: 0;
                overflow: hidden;
                width: calc( 100% - 30px );
                height: 100%;

                @media #{$medium-up} {
                    width: 100%;
                    left: 0;
                }
            }
        }
    }

    &.polar-horizontal,
    &.polar-verticle {
        img {
            max-height: none;
            max-width: none;
        }
    }

    &.polar-horizontal {
        img {
            position: absolute;
            height: 100%;
            top: 50%;
            left: 50%;
            transform: translate(-50%,-50%);
        }
    }

    &.polar-verticle {
        img {
            width: 100%;
        }
    }
}

