$hero-teaser-line-height: 25px;

.hero-wrapper {
    background: none;
    margin: {
        left: -$column-gutter/2;
        right: -$column-gutter/2;
    }

    @media #{$medium-only} {
        margin: {
            left: -$column-gutter;
            right: -$column-gutter;
        }
        padding-bottom: 20px;

        .home-page & {
            padding-bottom: 0;
            position: relative;

            .promoted-teaser-view-grid + .hero-wrapper__get-social-container {
                position: absolute;
                bottom: 30%;
            }
        }
    }

    @media #{$large-up} {
        margin: 0;
        padding-bottom: 20px;

        &--no-teaser {
            padding-bottom: 0;
            margin-top: -14px;
        }

        .home-page & {
            padding-bottom: 0;
            position: static;

            .promoted-teaser-view-grid + .hero-wrapper__get-social-container {
                position: static;
                bottom: auto;
            }
        }
    }

    .ad--section-top-mrec {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .teaser {

        &__brand-image {
            display: none;

            @media #{$medium-up} {
                display: block;
                max-height: 25px;
                max-width: 85px;
                margin: 10px;
                filter: brightness(0) invert(1);
            }
        }

        &__hero-background {
            background-color: $color-secondary;
            width: 90%;
            position: absolute;
            right: 0;
            max-height: 66px;
            bottom: -6px;
            height: 100%;
            z-index: $z-index--hero-background;

            @media #{$medium-up} {
                height: 100%;
                width: 86%;
                max-height: 45px;
                right: 0;
                bottom: -6px;
                display: flex;
                justify-content: flex-end;
            }

            @media #{$large-up} {
                height: 100%;
                max-height: 45px;
                bottom: -10px;
                right: -10px;
            }
        }

        &__title-background {
            display: table-cell;
            vertical-align: middle;
            height: 100%;

            .teaser__title {
                text-align: left;
                margin: 0;
            }
        }
    }

    .hero-teaser__source {
        // TODO - refactor the teaser component so that this element doesn't get rendered
        display: none;
    }

    &__social-logo {
        background: url('/assets/logos/logo.svg') no-repeat;
        background-size: 230px;
        width: 230px;
        display: inline-block;
        text-indent: -99999rem;
        margin-bottom: 20px;
        height: 25px;
    }

    &__follow-us {
        font-family: $font-family-muli;
        font-size: 18px;
        line-height: 16px;
        text-transform: uppercase;
        color: $color-primary;
        font-weight: 600;
        margin-bottom: 15px;
        margin-top: 10px;
    }

    .ad {
        @media #{$medium-only} {
            text-align: center;
            margin-bottom: 70px;
        }
    }

    &__get-social-container {
        text-align: center;
        margin: {
            top: 35px;
        }

        @media #{$medium-only} {
            text-align: center;
        }
    }
}

.hero-teaser {
    background-color: $color-white;

    @media #{$medium-only} {
        margin-bottom: 40px;
    }

    .teaser__inner {
        img {
            width: 100%;
            height: auto;
        }
    }

    .teaser__image {
        @media #{$medium-only} {
            width: 100%;
        }
    }

    .teaser__source {
        display: block;
    }

    .teaser__body {
        display: table;
        background: $color-white;
        position: absolute;
        bottom: 6px;
        width: 88%;
        right: 6%;
        min-height: 66px;
        padding: 15px;
        z-index: $z-index--teaser-background;

        @media #{$medium-up} {
            width: 76%;
            left: 8%;
            bottom: 6px;
            min-height: 110px;
        }

        @media #{$large-up} {
            width: 75%;
            left: 4%;
            bottom: 10px;
            min-height: 110px;
        }
    }

    .teaser__badge-container {
        @media #{$medium-only} {
            position: relative;
            top: auto;
        }

        @media #{$large-up} {
            top: -36px;
        }

        @media #{$xlarge-up} {
            position: relative;
            top: auto;
        }
    }

    .teaser__title {
        padding: 0;

        @media #{$large-up} {
            display: block;
        }

        a {
            @include type-hero-title();
            text-decoration: none;
        }
    }

    .teaser__summary {
        @include type-teaser-summary();
        margin-top: 4px;
        margin-bottom: 20px;

        @media #{$medium-up} {
            margin: 10px 0 25px;
        }

        @media #{$large-up} {
            margin-bottom: 30px;
        }
    }
}
