.hero-wrapper {
    background: none;
    margin: {
        left: -$column-gutter/2;
        right: -$column-gutter/2;
    }

    @media #{$medium-up} {
        margin: 0;
    }

    .hero-teaser__source {
        color: $color-grey-light;
        text-transform: uppercase;
        font-family: $font-family-sans-serif-primary;
        display: inline-block;
        font-size: 11px;
        margin-left: 15px;
        margin-bottom: 15px;

        &__breaker {
            padding: 0 8px;
        }

        @media #{$large-up} {
            display: block;
            margin: 3px 0 0 0;
        }

        &--australian-women-s-weekly span:first-child {
            color: $aww-color;
        }

        &--woman-s-day span:first-child {
            color: $wd-color;
        }

        &--now-to-love span:first-child {
            color: #6bc5a9;
        }
    }
}

.hero-teaser {
    background-color: $color-white;

    .teaser__inner {
        @include clearfix();

        position: relative;
    }

    .teaser__image {
        @media #{$medium-only} {
            float: left;
            width: 58.33%;
        }
    }

    .teaser__body {
        @include grid-column(11, false, true);
        position: relative;
        margin-top: -3px;
        padding-left: 0;
        margin-left: 0;

        @media #{$medium-only} {
            @include grid-column(4, false, false);
        }
    }

    .teaser__badge-container {
        @media #{$medium-only} {
            position: relative;
            top: auto;
        }

        @media #{$large-up} {
            top: -36px;
        }

        @media #{$xlarge-up} {
            position: relative;
            top: auto;
        }
    }

    .teaser__title {
        @include type-hero-title();
        margin: {
            bottom: 0;
            top: 3px;
        }
        padding: 15px;

        @media #{$large-up} {
            padding: 0;
            display: block;
            margin-top: 18px;
            margin-bottom: 4px;
            display: block;
        }

        a {
            text-decoration: none;
            font-weight: 400;
            letter-spacing: 0.04rem;
        }
    }

    .teaser__summary {
        @include type-teaser-summary();
        margin-top: 4px;
        margin-bottom: 20px;

        @media #{$medium-up} {
            margin: 10px 0 25px;
        }

        @media #{$large-up} {
            margin-bottom: 30px;
        }
    }
}
