$hero-teaser-line-height: 25px;

.hero-wrapper {
    background: none;
    margin: {
        left: -$column-gutter/2;
        right: -$column-gutter/2;
    }

    @media #{$medium-up} {
        margin: 0;
        padding-bottom: 20px;

        .home-page & {
            padding-bottom: 0px;
            position: relative;

            .promoted-teaser-view-grid + .hero-wrapper__get-social-container {
                position: absolute;
                bottom: 35%;
            }
        }
    }

    @media #{$large-up} {
        .home-page & {
            position: static;

            .promoted-teaser-view-grid + .hero-wrapper__get-social-container {
                position: static;
                bottom: auto;
            }
        }
    }    

    .ad--section-top-mrec {
        margin-top: 30px;
        margin-bottom: 0;
    }

    .hero-teaser__source {
        color: $color-grey-light;
        text-transform: uppercase;
        font-family: $font-family-sans-serif-primary;
        display: inline-block;
        font-size: 11px;
        margin-left: 15px;
        margin-bottom: 0px;
        letter-spacing: 0.7px;

        &__breaker {
            padding: 0 8px;
            color: $color-grey-light;
        }

        @media #{$large-up} {
            display: block;
            margin: 3px 0 0 0;
        }

        span:first-child:not(.hero-teaser__source__breaker),
        &--now-to-love span:first-child:not(.hero-teaser__source__breaker) {
            color: $nl-color;
        }

        &--woman-s-day span:first-child:not(.hero-teaser__source__breaker) {
            color: $wd-color;
        }

        &--australian-women-s-weekly span:first-child:not(.hero-teaser__source__breaker) {
            color: $aww-color;
        }

        &--good-health span:first-child:not(.hero-teaser__source__breaker) {
            color: $good-health-color;
        }

        &--yours span:first-child:not(.hero-teaser__source__breaker) {
            color: $yours-color;
        }

        &--ok--magazine span:first-child:not(.hero-teaser__source__breaker) {
            color: $ok-color;
        }

        &--mother-and-baby span:first-child:not(.hero-teaser__source__breaker) {
            color: $mother-baby-color;
        }

        &--take-5 span:first-child:not(.hero-teaser__source__breaker) {
            color: $take-5-color;
        }

        &--nw span:first-child:not(.hero-teaser__source__breaker) {
            color: $nw-color;
        }

        &--tv-week span:first-child:not(.hero-teaser__source__breaker) {
            color: $tv-color;
        }

        .home-page & {
            .hero-teaser__source__breaker,
            .hero-teaser__source__breaker + span {
                display: none;
            }
        }
    }

    .hero-teaser.teaser--nz {
        .hero-teaser__source--the-australian-women-s-weekly span:first-child:not(.hero-teaser__source__breaker) {
            color: $nz-aww-color;
        }
        .hero-teaser__source--next span:first-child:not(.teaser__source__breaker) {
            color: $nz-next-color;
        }

        .hero-teaser__source--woman-s-day span:first-child:not(.teaser__source__breaker) {
            color: $nz-womans-day-color;
        }

        .hero-teaser__source--new-zealand-woman-s-weekly span:first-child:not(.teaser__source__breaker) {
            color: $nz-womans-weekly-color;
        }
            
        .hero-teaser__source--simply-you span:first-child:not(.teaser__source__breaker) {
            color: $nz-simply-you-color;
        }

        .hero-teaser__source--good-health-choices span:first-child:not(.teaser__source__breaker) {
            color: $nz-good-health-choices-color;
        }
    }

    &__social-logo {
        background: url('/assets/logos/NowToLove.svg') no-repeat;
        background-size: 230px;
        width: 230px;
        display: inline-block;
        text-indent: -99999rem;
        margin-bottom: 20px;
        height: 25px;
    }

    .ad {
        @media #{$medium-only} {
            text-align: center;
            width: 50%;
            float: right;
            margin-bottom: 20px;
        }
    }

    &__get-social-container {
        text-align: center;
        margin: {
            top: 35px;
        }

        @media #{$medium-only} {
            width: 50%;
            text-align: center;
            float: left;

            &:before {
                display: none;
            }
        }

        @media #{$large-up} {
            display: none;
        }

        .get-social {
            @media #{$small-only} {
                margin-bottom: 27px;
            }

            margin: {
                bottom: 0;
            }

            .columns {
                padding: {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.hero-teaser {
    background-color: $color-white;

    .teaser__inner {
        @include clearfix();

        position: relative;
    }

    .teaser__image {
        @media #{$medium-only} {
            float: left;
            width: 58.33%;
        }
    }

    .teaser__body {
        @include grid-column(11, false, true);
        position: relative;
        margin-top: -3px;
        padding-left: 0;
        margin-left: 0;

        @media #{$medium-only} {
            @include grid-column(4, false, false);
        }
    }

    .teaser__badge-container {
        @media #{$medium-only} {
            position: relative;
            top: auto;
        }

        @media #{$large-up} {
            top: -36px;
        }

        @media #{$xlarge-up} {
            position: relative;
            top: auto;
        }
    }

    .teaser__title {
        @include type-hero-title();
        margin: {
            bottom: 0;
            top: 3px;
        }
        padding: 15px;

        @media #{$large-up} {
            padding: 0;
            display: block;
            margin-top: 18px;
            margin-bottom: 4px;
            display: block;
        }

        a {
            text-decoration: none;
            font-weight: 400;
            line-height: $hero-teaser-line-height;
        }
    }

    .teaser__summary {
        @include type-teaser-summary();
        margin-top: 4px;
        margin-bottom: 20px;

        @media #{$medium-up} {
            margin: 10px 0 25px;
        }

        @media #{$large-up} {
            margin-bottom: 30px;
        }
    }
}
