.teaser-view-list {
    .teaser__list-item {
        padding-bottom: 20px;
        padding-top: 10px;

        &:not(.teaser__list-item--ad) {
            position: relative;
            padding-bottom: 0;

            &:after {
                content: '';
                display: block;
                height: 1px;
                background-color:  transparent;
                position: absolute;
                top: 0;
                width: calc(100% - #{$column-gutter});
                left: $column-gutter/2;
            }

            @media #{$medium-up} {
                padding-top: 20px;
                margin-top: 20px;

                &:after {
                    background-color:  $color-grey-lighter;
                    width: 100%;
                    left: 0;
                }
            }

            @media #{$large-up} {
                padding-top: 25px;
                margin-top: 25px;

                &:after {
                    width: calc(100% - #{$column-gutter});
                    left: $column-gutter/2;
                }
            }
        }

        &.teaser__list-item--ad {
            @media #{$medium-up} {
                padding-bottom: 0;
            }
        }
    }

    .teaser {
        @media #{$small-only} {
            position: relative;
        }

        @media #{$large-up} {
            position: relative;
        }

        &__image {
            @media #{$small-only} {
                padding-right: $column-gutter/4;
            }

            @media #{$xlarge-up} {
                position: relative;

                &:before {
                    left: 15px;
                    right: 15px;
                }
            }
        }

        &__body {
            font-family: $font-family-sans-serif-primary;

            @media #{$small-only} {
                margin-top: -4px;
                padding-left: $column-gutter/4;
            }

            @media #{$medium-only} {
                position: relative;
            }

            @media #{$medium-up} {
                margin-top: 14px;
                padding-left: 0;
                padding-right: 10px;
            }

            @media #{$large-up} {
                margin-top: -6px;
            }
        }

        &__title {
            @include type-bottom-teaser-title;

            @media #{$medium-up} {
                margin-bottom: 8px;
            }

            @media #{$xlarge-only} {
                margin-bottom: 9px;
                margin-top: 0;
                padding: 7px 20px 0;
            }

            a {
                text-decoration: none;
            }
        }

        &__source {
            font-size: 11px;
            line-height: 15px;
            font-weight: 400;
            color: $color-grey-light;
            text-transform: uppercase;
            margin-top: 7px;
            letter-spacing: .7px;
            
            @media #{$medium-up} {
                padding: 0;
                line-height: 12px;
            }

            span:first-child:not(.teaser__source__breaker),
            &--now-to-love span:first-child:not(.teaser__source__breaker) {
                color: $nl-color;
            }

            &--woman-s-day span:first-child:not(.teaser__source__breaker) {
                color: $wd-color;
            }

            &--australian-women-s-weekly span:first-child:not(.teaser__source__breaker) {
                color: $aww-color;
            }

            &--good-health span:first-child:not(.teaser__source__breaker) {
                color: $good-health-color;
            }

            &--yours span:first-child:not(.teaser__source__breaker) {
                color: $yours-color;
            }

            &--ok--magazine span:first-child:not(.teaser__source__breaker) {
                color: $ok-color;
            }

            &--shop-til-you-drop span:first-child:not(.teaser__source__breaker) {
                color: $shop-color;
            }

            &--mother-and-baby span:first-child:not(.teaser__source__breaker) {
                color: $mother-baby-color;
            }

            &--take-5 span:first-child:not(.teaser__source__breaker) {
                color: $take-5-color;
            }

            &--nw span:first-child:not(.teaser__source__breaker) {
                color: $nw-color;
            }

            &--tv-week span:first-child:not(.teaser__source__breaker) {
                color: $tv-color;
            }

            &__breaker span:first-child {
                margin: 0 5px;
                color: $color-grey-light;
            }

            &__breaker {
                margin: 0 5px;
                color: $color-grey-light;
            }
        }

        &__badge-container {
            @media #{$xlarge-up} {
                margin-left: 20px;
            }
        }

        &__summary-wrap {
            @extend .hide-for-small-only;
        }

        &__summary {
            @media #{$medium-up} {
                margin-top: 0px;
                margin-bottom: 8px;
            }

            @media #{$xlarge-only} {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &.teaser--nz {
            .teaser__source--next span:first-child:not(.teaser__source__breaker) {
                color: $nz-next-color;
            }

            .teaser__source--woman-s-day span:first-child:not(.teaser__source__breaker) {
                color: $nz-womans-day-color;
            }

            .teaser__source--the-australian-women-s-weekly span:first-child:not(.teaser__source__breaker) {
                color: $nz-aww-color;
            }

            .teaser__source--new-zealand-woman-s-weekly span:first-child:not(.teaser__source__breaker) {
                color: $nz-womans-weekly-color;
            }
            
            .teaser__source--simply-you span:first-child:not(.teaser__source__breaker) {
                color: $nz-simply-you-color;
            }

            .teaser__source--good-health-choices span:first-child:not(.teaser__source__breaker) {
                color: $nz-good-health-choices-color;
            }
        }
    }
}
