.teaser-view-list {
    .teaser__list-item {
        padding-bottom: 20px;
        padding-top: 10px;

        &:not(.teaser__list-item--ad) {
            position: relative;
            padding-bottom: 0;

            &:after {
                display: block;
                height: 1px;
                background-color:  transparent;
                position: absolute;
                top: 0;
                width: calc(100% - #{$column-gutter});
                left: $column-gutter/2;
            }

            @media #{$medium-up} {
                padding-top: 20px;
                margin-top: 20px;

                &:after {
                    background-color:  $color-grey-lighter;
                    width: 100%;
                    left: 0;
                }
            }

            @media #{$large-up} {
                padding-top: 25px;
                margin-top: 25px;

                &:after {
                    width: calc(100% - #{$column-gutter});
                    left: $column-gutter/2;
                }
            }
        }

        &.teaser__list-item--ad {
            @media #{$medium-up} {
                padding-bottom: 0;
            }
        }
    }

    .teaser {
        @media #{$small-only} {
            position: relative;
        }

        @media #{$large-up} {
            position: relative;
        }

        &__image {

            @media #{$small-only} {
                padding-right: $column-gutter/4;
            }

            @media #{$medium-up} {

                img {
                    border-radius: $teaser-image-border-radius;
                }
            }

            @media #{$xlarge-up} {
                position: relative;

                &:before {
                    left: 15px;
                    right: 15px;
                }
            }
        }

        &__body {
            font-family: $font-family-serif-primary;

            @media #{$small-only} {
                margin-top: -4px;
                padding-left: $column-gutter/4;
            }

            @media #{$medium-only} {
                position: relative;
            }

            @media #{$medium-up} {
                margin-top: 14px;
                padding-left: 0;
                padding-right: 10px;
            }

            @media #{$large-up} {
                margin-top: -6px;
            }
        }

        &__title {

            @media #{$medium-up} {
                margin-bottom: 15px;
            }

            @media #{$xlarge-only} {
                margin-bottom: 9px;
                margin-top: 0;
                padding: 7px 20px 0;
            }

            a {
                @include type-bottom-teaser-title;
                text-decoration: none;
            }
        }

        &__source {
            font-size: 11px;
            line-height: 15px;
            font-weight: 400;
            color: $nl-color;
            text-transform: uppercase;
            letter-spacing: .7px;
            display: flex;
            align-items: center;

            @media #{$medium-up} {
                padding: 0;
                line-height: 12px;
            }

            &--now-to-love {
                color: $nl-color;
            }

            &--woman-s-day {
                color: $wd-color;
            }

            &--aww,
            &--australian-women-s-weekly {
                color: $aww-color;
            }

            &--good-health {
                color: $good-health-color;
            }

            &--yours {
                color: $yours-color;
            }

            &--ok--magazine {
                color: $ok-color;
            }

            &--bounty {
                color: $bounty-color;
            }

            &--take-5 {
                color: $take-5-color;
            }

            &--nw {
                color: $nw-color;
            }

            &--tv-week {
                color: $tv-color;
            }

            &--prizes-to-love {
                color: $ptl-color;
            }

            &--empire {
                color: $empire-color;
            }

            &__breaker span:first-child {
                color: $color-grey-lighter-level-one;
                margin: 0 3px 0 2px;
            }

            &__breaker {
                color: $color-grey-lighter-level-one;
                margin: 0 3px 0 2px;
            }
        }

        &__source-date {
            font-family: $font-family-questrial;
            font-size: 10px;
            color: $color-grey-lighter-level-one;
        }

        &__brand-image {
            max-height: 17px;
            max-width: 85px;
            margin: 0;
        }

        &__badge-container {
            @media #{$xlarge-up} {
                margin-left: 20px;
            }
        }

        &__summary-wrap {
            @extend .hide-for-small-only;
        }

        &__summary {
            @media #{$medium-up} {
                margin-top: 0px;
                margin-bottom: 8px;
            }

            @media #{$xlarge-only} {
                padding-left: 20px;
                padding-right: 20px;
            }
        }

        &.teaser--nz {
            .teaser__source--next span:first-child:not(.teaser__source__breaker) {
                color: $nz-next-color;
            }

            .teaser__source--woman-s-day span:first-child:not(.teaser__source__breaker) {
                color: $nz-womans-day-color;
            }

            .teaser__source--the-australian-women-s-weekly span:first-child:not(.teaser__source__breaker) {
                color: $nz-aww-color;
            }

            .teaser__source--new-zealand-woman-s-weekly span:first-child:not(.teaser__source__breaker) {
                color: $nz-womans-weekly-color;
            }

            .teaser__source--good-health-choices span:first-child:not(.teaser__source__breaker) {
                color: $nz-good-health-choices-color;
            }

            .teaser__source--nadia span:first-child:not(.teaser__source__breaker) {
                color: $nz-nadia-color;
            }

            .teaser__source--beauty-to-love span:first-child:not(.teaser__source__breaker) {
                color: $nz-btl-color;
            }
        }
    }
}
