$carousel-xlarge-list-item-image-width: 1270px;
$carousel-xlarge-list-item-padding-width: 33px;
$carousel-xlarge-list-item-width: $carousel-xlarge-list-item-image-width + ($carousel-xlarge-list-item-padding-width * 2);

$carousel-nav-button-height: 45px;
$carousel-small-item-meta-height: 132px;

$carousel-background-color: $color-white;
$carousel-primary-color: $color-primary;
$carousel-arrow-hover-color: $color-primary-light;

$carousel-column-gutter: $column-gutter;

.carousel {
    margin-bottom: 30px;
    padding: 0;

    @media #{$large-up} {
        margin-bottom: 60px;
    }

    &__pagination {
        position: absolute;
        bottom: 0;
        left: 0;
        right: 0;
        padding-bottom: 20px;
        margin: 0;
        display: none;

        @media #{$medium-up} {
            display: block;
        }

        @media #{$large-up} {
            border-width: 0;
            position: relative;
        }
    }

    &__pagination-button {

        &--active {
            color: $color-primary;

            @media #{$large-up} {
                color: $color-white;
            }
        }
    }

    &__navigation-button {
        background: $color-white;
        padding: 20px;

        @media #{$xlarge-up} {
            padding: 23px 26px;
            background: none;
            height: auto;
            bottom: 60px;
        }

        svg {
            fill: $color-primary;

            @media #{$xlarge-up} {
                fill: $color-white;
            }

        }

        &:hover {

            svg {
                fill: $color-primary;
                opacity: 0.8;

                @media #{$xlarge-up} {
                    fill: $color-white;
                }

            }
        }
    }
}

// scss-lint:enable all
