// This applies the width and z-index styles to make the wallpaper ad sit correctly behind the content

.site-wrapper {
    max-width: 1024px;
    margin: 0 auto;
    z-index: 0;
}

.gallery__body {
    z-index: 1;
    background-color: #fff;
}

.uniheader {
    position: relative;
    z-index: 1;
}

.header-wrapper {
    position: initial;
    z-index: 1;
}

.page-title-container {
    position: relative;
    z-index: 1;
}

.ad--section-top-leaderboard {
    @media #{$large-up} {
        position: relative;
        z-index: 1;
        max-width: 1024px;
        margin: 20px auto;
    }
} 

.ad--wallpaper-wrapper {
    position: fixed;
    top: 58px;
    left: calc((100% - 1920px) / 2);
    width: 100%;
    z-index: 0;
    @media (min-width: 1940px) {
        left: 0;
    }
}

.ad--wallpaper-wrapper home-page {
    top: 107px;
}


.content-wrapper {
    z-index: 2;
    background-color: #FFF;
}

.page-title {
    @media #{$large-up} {
        width: 1024px;
        background-color: #FFF;
        z-index: 1;
        position: relative;
        margin: auto;
    }
}

.footer {
    margin-top: 0px;
    max-width: 1024px;
    background-color: #fff;
}
