.article {
    margin: 25px 0 0 0;
    @media #{$large-up} {
        border-right: none;
    }

    .ad--article-top {
        margin-bottom: 25px;
    }

    .ad--beneath-hero {
        margin-left: -15px;
        margin-top: 20px;
        width: calc(100% + 30px);
    }

    .recommendations {
        display: none;
        visibility: hidden;
    }

    .ad--article-beneath-recommendations {
        background: none;
        padding-top: 34px;
        padding-bottom: 0;
    }

    @media #{large-up} {
        padding-bottom: 30px;
    }    

    .article-header-source {
        &.article-header-source--bottom {
            width: 100%;
            margin: 0 auto;
            margin-top: 40px;
            margin-bottom: 20px;
        }

        img {
            height: 35px;
        }

        &--bottom {
            a {
                position: relative;
                z-index: 1;
                display: block;
                text-align: center;

                &::before {
                    border-top: 1px solid $related-content-border-color;
                    content: '';
                    margin: 0 auto;
                    position: absolute;
                    top: 46%;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    width: 100%;
                    z-index: -1;
                }
            }

            p {
                letter-spacing: 1px;
                text-align: center;
                margin-bottom: 7px;
                font-size: 11px;
                color: $color-grey-light;
                text-transform: uppercase;
                font-family: $font-family-serif-primary;
            }

            img {
                height: 49px;
                background: #FFF;
                margin: 0 auto;
                width: auto;
                padding: 0 10px;
            }
        }
    }

    .article-header-author {
        &__name {
            border-bottom: 1px solid $color-secondary;
        }

        &:before {
            content: ' ';
            margin-right: 5px;
        }
    }

    .article__image-count:before {
        content: ' ';
        margin-right: 5px;
    }

    .gallery__caption {
        p {
            font: 400 16px/24px $font-family-muli;
        }
    }

    .gallery__photo-credit {
        font: 400 16px/24px $font-family-muli;   
        font-style: italic;
    }
}

.article-section {
    margin-bottom: 57px;

    .article-header-section {
        margin-top: 10px;

        &__text {
            @include type-teaser-tag();
            visibility: visible;
        }

        @media #{$medium-up} {
            margin-top: 0;
        }
    }
}

.article__hero-container {
    margin-top: 10px;
    display: block;

    @media #{$medium-up} {
        margin-top: 33px;
        margin-bottom: 13px;
    }
}

.article__main-hero-image {
    figcaption {
        font-size: 11px;
        font-style: normal;
        line-height: 20px;
        padding: 8px 15px 6px 15px;

        @media #{$medium-up} {
            display: none;
        }
    }
}

.article__header {
    text-align: center;

    @media #{$medium-up} {
        display: table;
        width: 100%;
    }
}

.article__main-hero {
    margin-bottom: 0;
    &:after {
        background: none;
    }
}

.article__credits {
    display: none;
    visibility: hidden;
}

.article__title {
    margin-bottom: 6px;
    margin-top: 13px;
    text-align: center;
    @include type-article-title;
}

.article__summary {
    margin-bottom: 0;
    text-align: center;
    color: $color-darkish-grey;
    font: 400 18px/34px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        padding-top: 0;
        text-align: center;
        font: 400 18px/34px $font-family-sans-serif-primary;
    }
}

.article__body--top-border:before {
    display: none;
}

.article__footer {
    @include type-article-body();
    font-style: italic;
    text-transform: capitalize;

    @media #{$xlarge-up} {
        margin-bottom: 64px;
    }

    @media #{$large-up} {
        width: 88%;
    }
}

.article-credit__value {
    color: $color-black;
}

.article__tags {

    .tags__title {
        font: 600 11px/22px $font-family-muli;
        color: $color-grey-lighter-level-one;
        text-transform: uppercase;
    }

    .related-tags {

        li {
            a {
                font: 600 11px/22px $font-family-muli;
                color: $color-black-origin;
                text-decoration: underline;
                text-transform: uppercase;
            }
        }
    }
}

.article__date-created,
.article-header-author,
.article__image-count {
    font-size: 11px;
    line-height: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: $font-family-questrial;
    color: $color-grey-lighter-level-one;
    letter-spacing: 0.6px;
    margin-top: 15px;
    margin-right: 0;

    &__name {
        color: $color-secondary;
    }
}
