// Base button styles

.button {
    background-color: $color-primary;
    border: 2px solid $color-primary;
    border-radius: 6px;
    color: $color-white;
    display: inline-block;
    font: 500 15px $font-family-sans-serif-primary;
    letter-spacing: 0.05em;
    min-height: 52px;
    padding: 0 15px;
    text-transform: uppercase;

    @media #{$large-up} {
        padding-left: 20px;
        padding-right: 20px;
    }

    &:not(:disabled):not(.disabled) {
        &:hover,
        &:focus {
            opacity: 0.8;
            outline: none;
            text-decoration: none;
        }
    }

    &:active,
    &.active {
        .down-arrow svg {
            fill: $color-white;
        }
    }

    &:disabled,
    &.disabled {
        color: $color-red-light2;
        cursor: default;

        &:hover,
        &:focus {
            text-decoration: none;
        }
    }

    &--category {
        .icon-arrow {
            display: inline-block;
            fill: $color-primary;
            margin-left: 10px;
            position: relative;
            top: 1px;
        }

        .arrow {
            width: 10px;
        }

        &:active,
        &.active {
            .icon-arrow {
                fill: $color-white;
            }
        }

        &.active {
            .icon-arrow {
                top: -1px;
                transform: rotate(180deg);
            }
        }

        @media #{$large-up} {
            .icon-arrow {
                top: 0;
            }

            .arrow {
                width: 12px;
            }

            &.active {
                .icon-arrow {
                    top: -2px;
                }
            }
        }
    }

    &--load-more {
        display: block;
        margin: 0 auto 30px;

        @media #{$medium-up} {
            margin-bottom: 60px;
        }
    }

    &--link {
        padding-top: 14px;
    }

    &--subscribe {
        padding-left: 29px;
        padding-right: 29px;
        transition: background $transition-duration ease-in-out, border-color $transition-duration ease-in-out;

        &:hover,
        &:focus,
        &:active,
        &.active {
            text-decoration: none;
        }
    }
}
