.page {
    &__top-container {
        padding-top: 20px;
        margin-bottom: 30px;

        @media #{$medium-up} {
            padding-top: 30px;
        }

        .row {
            @media #{$medium-only} {
                margin: {
                    left: 0;
                    right: 0;
                }
            }
        }

        .ad--section-top-leaderboard {
            background: none;
            margin-bottom: 0;
            padding-top: 15px;
            padding-bottom: 0;

            @media #{$medium-up} {
                padding-top: 30px;
                padding-bottom: 20px;
            }

            @media #{$xlarge-up} {
                padding-top: 40px;
                padding-bottom: 25px;
            }
        }
    }

    &__teasers-container {
        border-right: 1px solid $color-grey-lighter;
    }
}
