.content-body {
    p {
        padding: 0;
        margin: 20px 0;
    }

    &__inline-image {
        padding: {
            bottom: 0px;
            top: 0px;
        }
        margin: {
            bottom: 20px;
            top: 20px;
        }

        figure figcaption {
            font-size: 11px;
            font-style: normal;
            line-height: 20px;
            padding: 8px 15px 6px 15px;
            text-align: left;

            @media #{$medium-up} {
                font-size: 15px;
                line-height: 27px;
                padding: {
                    top: 11px;
                    bottom: 9px;
                };
            }
        }

        @media #{$medium-up} {
            @include content-body-width();
            margin: {
                bottom: 40px;
                top: 40px;
            }
        }
    }

    &__inline-video {
        margin: {
            bottom: 30px;
            left: -$column-gutter/2;
            right: -$column-gutter/2;
            top: 20px;
        }

        @media #{$medium-up} {
            margin: {
                bottom: 40px;
                left: 0;
                right: 0;
                top: 40px;
            }
        }

        @media #{$large-up} {
            margin: {
                left: 0;
                right: 0;
            };
        }
    }

    &__related-content {
        background: none;
        border: 1px solid transparent;
        border-top-color: $related-content-border-color;
        padding: 35px 0px 10px;
        position: relative;
        margin: 0;
        margin-top: 30px;
        width: 100%;

        @media #{$medium-up} {
            border-color: $related-content-border-color;
            background-size: auto;
            margin: {
                bottom: 50px;
                top: 50px;
            };
            padding: 40px 50px;
        }

        @media #{$large-up} {
            padding: {
                bottom: 25px;
                left: 30px;
                right: 30px;
            };
        }

        .related-content__heading {
            background: none;
            font: 400 30px/36px $font-family-sans-serif-primary;
            letter-spacing: .1em;
            position: static;
            text-align: center;
            text-indent: 0;
            z-index: 1;
            background: #FFF;
            width: 120px;
            margin: 0 auto;
            font-size: 20px;
            margin-top: -57px;
            color: $oil;
            text-transform: uppercase;
        }

        .related-content-wrapper {
            padding-top: 5px;

            @media #{$small-only} {
                margin: 0 $column-gutter/4;
                padding-top: 20px;
            }

            @media #{$medium-up} {
                padding-top: 20px;
                width: 100%;
            }
        }

        .related-content-items {
            .feed-item {
                &:last-child,
                &:first-child {
                    margin-bottom: 0;
                }
            }
        } 

        .feed-item {
            @include grid-column(6);
            background-color: transparent;
            margin-bottom: 0;

            @media #{$small-only} {
                padding: {
                    left: $column-gutter/4;
                    right: $column-gutter/4;
                };
            }

            .feed-item__source {
                text-align: center;
                display: block;
                float: left;
                width: 100%;
                margin-top: 0;
            }

            .teaser__image {
                background-color: $color-white;
                display: block;
                height: auto;
                width: 100%;

                &:hover {
                    opacity: 1;

                    > span {
                        opacity: 0.85;
                    }
                }
            }

            &.polar-feed-item {

                .teaser__image {
                    height: 0;
                    padding-bottom: $polar-in-related-feed-height;
                    overflow: hidden;
                }
            }
        }

        .feed-item__body {
            padding-left: 0;
            display: block;
        }

        .feed-item__body-title {
            @include type-related-teaser-title();
            margin-top: 12px;
            float: left;
            width: 100%;
            text-decoration: none;

            &:hover {
                color: $color-black-hover;
                text-decoration: none;
            }

            @media #{$medium-up} {
                margin-top: 20px;
            }
        }

        .feed-item__body-source {
            float: left;
            display: block;
            width: 100%;
            text-align: center;
            line-height: 1;
            color: $nl-color;
        }
    }

    &__gallery-link {
        @media #{$medium-up} {
            margin: {
                bottom: 40px;
                top: 50px;
            }
        };
    }

    &__gallery-link-caption {
        bottom: $column-gutter/2;
        left: 0;
        margin: 0 $column-gutter/2;
        padding: 8px 30px 13px 30px;
        right: 0;
        width: auto;

        @media #{$medium-up} {
            @include content-body-width();
            bottom: 30px;
            padding: {
                bottom: 22px;
                top: 22px;
            }
        }
    }

    &__gallery-link-category,
    &__gallery-link-count {
        @include type-inline-gallery-heading();
        color: $color-white;
    }

    &__gallery-link-category {
        &:after {
            top: 0;
        }

        @media #{$medium-up} {
            padding-right: 19px;

            &:after {
                height: 16px;
                left: 16px;
                top: 1px;
            }
        }
    }

    &__gallery-link-title {
        color: #FFF;
        font-size: 13px;
        font-family: $font-family-sans-serif-primary;
        letter-spacing: 0.05em;
        line-height: 1.5;
        margin-top: 0;
    }

    &__gallery-link-category,
    &__gallery-link-count,
    &__gallery-link-title {
        text-transform: uppercase;        
    }

    &__tips {
        padding: 3px 20px 3px;
        margin: 20px 0;
        width: 100%;
        border: 1px solid $related-content-border-color;

        h2 {
            margin: {
                bottom: 14px;
                top: 20px;
            }

            @media #{$medium-up} {
                margin-bottom: 17px;
            }
        }

        p {
            margin: 20px 0;
        }

        .tips {
            @media #{$medium-only} {
                margin: 0;
                width: 100%;
            }
        }
    }

    &__embed {
        @media #{$medium-up} {
            margin: {
                bottom: 40px;
                top: 40px;
            };
        }
    }
}
