.feed__container {

    .feed-item {
        
        // Teaser body
        &__body {
            padding-top: 0;
            width: $feed-item-body-width;

            .article__date-created {
                font-family: $font-family-sans-serif-primary;
                display: block;
                margin-top: 1px;
                text-align: left;
                font-weight: 400;
                line-height: 1.2;
                letter-spacing: 0.5px;
                text-transform: uppercase;
                color: $color-grey-light;
            }

            &-title {
                @include type-xsmall-teaser-title;
                margin-top: 0;

                &:hover,
                &:focus {
                    color: $color-black-hover;
                    text-decoration: none;
                }
            }

            &-source {
                color: $nl-color;
            }
        }

        &.polar-feed-item {

            .teaser__image {
                overflow: hidden;
            }
        }
    }

    .feed-ad {
        padding-bottom: 20px;
    }
}

