.feed__container {

    .feed-item {
        min-height: 150px;
        overflow: auto;

        .teaser {

            &__image {

                @media #{$medium-up} {

                    img {
                        border-radius: $teaser-image-border-radius;
                    }
                }
            }
        }

        // Teaser body
        &__body {
            padding-top: 0;
            width: $feed-item-body-width;

            .article__date-created {
                display: none;
            }

            &-title {
                @include type-xsmall-teaser-title;
                margin-top: 0;

                &:hover,
                &:focus {
                    color: $color-black-hover;
                    text-decoration: none;
                }
            }
        }

        &__source {
            font-family: $font-family-questrial;
            font-size: 9px;
            line-height: 12px;
            display: block;
            margin-top: 1px;
            text-align: left;
            font-weight: 400;
            letter-spacing: 0.5px;
            text-transform: uppercase;
            color: $color-source-grey;
        }

        &.polar-feed-item {

            .teaser__image {
                overflow: hidden;
            }

            &.polar-horizontal,
            &.polar-verticle {
                img {
                    max-height: none;
                    max-width: none;
                }
            }

            &.polar-horizontal {
                img {
                    position: absolute;
                    height: 100%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            &.polar-verticle {
                img {
                    width: 100%;
                }
            }
        }

        &.feed-item--has-video,
        &.feed-item--gallery {
            &:after {
                position: absolute;
                width: 24px;
                height: 24px;
                background-repeat: no-repeat;
                background-position: top left;
                background-size: contain;
                content: '';
                background-color: $color-white;
                border: 1px solid $color-white;
                left: 0;
                top: 20px;
            }
        }

        &.feed-item--has-video {
            &:after {
                background-image: url($play-icon);
            }
            &-icon-hidden {
                &:after {
                    display: none;
                }
            }
        }

        &.feed-item--gallery {
            &:after {
                background-image: url($gallery-icon);
            }
            &-icon-hidden {
                &:after {
                    display: none;
                }
            }
        }
    }

    .feed-ad {
        padding-bottom: 20px;
    }
}

