.feed {
    @media #{$large-up} {
        margin: 0 0 0 30px;
        width: 325px;
    }
}

.feed__container {
    .feed--pinned & {
        margin-top: 30px;
    }
}

.feed-header {
    position: relative;
    z-index: 1;
    text-align: left;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin: 13px 0 0 0;
    padding: 0;
    color: $color-black-origin;
    font: 800 16px/42px $font-family-muli;
    width: 298px;

    > span {
        padding: 0 25px 0 0;
    }

    span {
        background: $color-white;
    }

    &::before {
        border-top: 1px solid $color-darker-grey;
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
}

.feed-item__body {

    .feed-item__source {
        font-size: 11px;
        letter-spacing: 0.5px;
        font-family: $font-family-serif-primary;
        display: block;
        text-transform: uppercase;

        &--australian-women-s-weekly {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $aww-color;
            }
        }

        &--woman-s-day {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $wd-color;
            }
        }

        &--now-to-love {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $nl-color;
            }
        }

        &--good-health {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $good-health-color;
            }
        }

        &--yours {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $yours-color;
            }
        }

        &--ok--magazine {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $ok-color;
            }
        }

        &--take-5 {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $take-5-color;
            }
        }

        &--nw {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $nw-color;
            }
        }

        &--tv-week {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $tv-color;
            }
        }

        &--prizes-to-love {
            color: $color-source-grey;
            @media #{$medium-up} {
                color: $ptl-color;
            }
        }
    }
}

.feed-item.feed-item-nz {
    .feed-item__source--next {
        color: $nz-next-color;
    }

    .feed-item__source--woman-s-day {
        color: $nz-womans-day-color;
    }

    .feed-item__source--the-australian-women-s-weekly {
        color: $nz-aww-color;
    }

    .feed-item__source--new-zealand-woman-s-weekly {
        color: $nz-womans-weekly-color;
    }

    .feed-item__source--good-health-choices {
        color: $nz-good-health-choices-color;
    }

    .feed-item__source--nadia {
        color: $nz-nadia-color;
    }

    .feed-item__source--beauty-to-love {
        color: $nz-btl-color;
    }
}

