.feed {
    @media #{$large-up} {
        margin: 0 0 0 30px;
        width: 325px;
    }
}

.feed__container {
    .feed--pinned & {
        margin-top: 30px;
    }
}

.feed-header {
    position: relative;
    z-index: 1;
    text-align: center;
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    margin: 13px 0 0 0;
    padding: 0;
    color: $color-black;

    > span {
        padding: 0 10px;
    }

    span {
        background: #FFF;
    }

    &::before {
        border-top: 1px solid $feed-item-header-colour;
        content: '';
        margin: 0 auto;
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        z-index: -1;
    }
}

.feed-item__body {

    .feed-item__source {
        font-size: 11px;
        letter-spacing: 0.5px;
        font-family: $font-family-sans-serif-primary;
        display: block;
        text-transform: uppercase;

        &--australian-women-s-weekly {
            color: $aww-color;
        }

        &--woman-s-day {
            color: $wd-color;
        }

        &--now-to-love {
            color: $nl-color;
        }

        &--good-health {
            color: $good-health-color;
        }

        &--yours {
            color: $yours-color;
        }

        &--ok--magazine {
            color: $ok-color;
        }

        &--shop-til-you-drop {
            color: $shop-color;
        }

        &--mother-and-baby {
            color: $mother-baby-color;
        }

        &--take-5 {
            color: $take-5-color;
        }

        &--nw {
            color: $nw-color;
        }

        &--tv-week {
            color: $tv-color;
        }
    }
}

.feed-item.feed-item-nz {
    .feed-item__source--next {
        color: $nz-next-color;
    }

    .feed-item__source--woman-s-day {
        color: $nz-womans-day-color;
    }

    .feed-item__source--the-australian-women-s-weekly {
        color: $nz-aww-color;
    }

    .feed-item__source--new-zealand-s-woman-s-weekly {
        color: $nz-womans-weekly-color;
    }
            
    .feed-item__source--simply-you {
        color: $nz-simply-you-color;
    }

    .feed-item__source--new-zealand-good-health-choices {
        color: $nz-good-health-choices-color;
    }

    .feed-item__source--nadia-lim {
        color: $nz-nadia-color;
    }
}

