.gallery {

    .teaser__source {
        @include teaser-source;
        padding-left: 0;
        padding-right: 0;

        .teaser__source__breaker {
            display: none;
        }

        span:nth-child(3) {
            display: none;
        }
    }

    &__slide-ad {
        margin-top: 22px;
    }

    &__mobile-ad {
        position: relative;
        top: 0;
        margin-top: -1px;
        margin-bottom: 30px;
        padding: 10px 0;
        background: none;
        z-index: 1;

        @media #{$small-only} {
            margin-bottom: 0px;
        }

        @media #{$medium-up} {
            margin-top: -13px;
        }
    }

    &__body {
        max-width: 1024px;
        margin-top: 0px;
        z-index: 1;
        background-color: #fff;


        @media #{$large-up} {
            padding-top: 20px;
            max-height: 690px;
        }
    }

    &-caption__toggle {
        color: #009999;
        text-decoration: underline;
    }

    &__summary-content {
        a {
            color: $nl-color;
        }
    }

    &__more {
        .teaser__body {
            margin-bottom: 27px;
            font-size: 15px;
            line-height: 20px;
        }

        .teaser__title {
            margin-bottom: 8px;
        }
    }

    &__image-details {
        margin-left: 0px;

        @media #{$medium-up} {
            margin-top: 23px;
        }

        @media #{$large-up} {
            margin-left: -10px;
        }

        @media only screen and (min-width: $gallery-footer-minor-bp-2) {
            width: calc(100% - 50px);
        }
    }

    &__native-ad {
        margin-top: -8px;
        margin-bottom: 10px;
        border: none;
        padding-top: 20px;
        max-width: 300px;
    }

    // Temporary until social style task is done
    .social-share-block {
        /*overwriting the Foundation visibility class that's also being applied to this element */
        text-align: center;
        margin-top: 25px;

        @media #{$large-up} {
            text-align: left;
        }

        .social-share-count {
            color: $color-black;

            @media #{$large-up} {
                color: $color-white;
            }
        }

        &.hide-for-large-up {
            margin: 0 $column-gutter/2 40px;

            .social-share {
                height: 50px;
                margin-right: 15px;
                position: relative;
                vertical-align: middle;
                width: 10%;

                @media #{$medium-up} {
                    width: 8%;
                }
            }

            .social-share-count {
                border: 0;
                line-height: 50px;
                margin-left: 18px;
                margin-top: 0;
                padding-left: 20px;
                width: 38px;

                @media #{$medium-up} {
                    margin-top: -1px;
                    padding-left: 35px;
                }
            }

            .email {
                display: inline-block;
                line-height: 48px;
                margin-right: 0;
            }
        }

        &.show-for-large-up {
            margin-top: 13px;
            padding: {
                left: $column-gutter;
                right: $column-gutter;
            }

            position: absolute;
            right: 0;
            text-align: left;
            width: $gallery-aside-large-width;

            .social-share-count {
                padding-left: 30px;
                margin-left: 10px;
                margin-top: 7px;
            }
        }
    }

    &__header {
        border-width: 0;
        box-shadow: none;
        background-color: $color-black;

        .gallery__title {
            font-size: 24px;
            font-weight: 500;
            text-transform: uppercase;
            color: $color-white;
            padding-top: 0px;
            padding-left: 150px;
        }

        .gallery__logo {
            padding-top: 19px;

            @media #{$medium-up} {
                padding-top: 15px;
            }
        }

        .social-share-count {
            color: $color-white;
        }
    }

    &__main {
        @media #{$large-up} {
            width: 100%;
            max-height: 600px;
            overflow: visible;
        }

        .gallery__title {
            font: 400 24px/26px $font-family-sans-serif-primary;
            color: $color-black-light;
            padding: 0px 30px 20px;
            margin-bottom: 6px;

            @media #{$small-only} {
                padding-bottom: 0px;
            }

            @media #{$medium-only} {
                text-align: center;
            }

            @media #{$large-up} {
                display: block !important;
                /*overwriting the Foundation visibility class that's been applied to this element */
                font-weight: 400;
            }

            &-last-slide {
                visibility: hidden;
            }
        }

        .gallery__slide {
            .gallery__slide-swipe-indicator {
                width: 300px;
                color: $color-white;
                background-color: $color-black;
                font: 400 14px/21px $font-family-sans-serif-primary;
                padding: 9px 0;
                padding-bottom: 10px;
                letter-spacing: 1px;
                text-transform: uppercase;
                margin: 0px auto 0;
            }

            .gallery-item {
                height: calc(100vw * 0.94);

                @media #{$large-up} {
                    height: 100%;
                }
            }

            .gallery-teaser-item {
                height: 100%;
            }

            .gallery__nav {
                opacity: 1;
                background-color: rgba(0, 0, 0, 1);
                font-size: 1em;
                padding: 12px 11px;
                width: 48px;
                height: 48px;

                @media #{$medium-up} {
                    font-size: 1.2em;
                    padding: 16px 18px;
                }

                @media #{$large-up} {
                    top: 50%;
                }

                &.icon-arrow-prev::before,
                &.icon-arrow-next::before {
                    color: #FFF;
                }
            }
        }
    }

    &__slide-count {
        font: 500 20px/22px $font-family-sans-serif-primary;
        color: $color-black;
        display: block;
        font-size: 16px;
        line-height: 24px;
        margin-left: 15px;

        @media #{$small-only} {
            position: inherit !important;
            margin-right: 1px;
            margin-top: 3px;
        }

        @media #{$medium-only} {
            margin-top: 1px;
        }

        @media #{$large-up} {
            float: left;
        }

        &, .gallery__header & {
            color: $color-black-light;
            letter-spacing: -1px;
            float: left;
            padding-top: 6px;

            @media #{$medium-up} {
                font-size: 24px;
            }

            @media #{$large-up} {
                line-height: 36px;

                margin-right: -15px;
            }
        }
    }

    .gallery-caption {
        padding-left: 10px;
        padding-top: 21px;

        &__content-holder {
            margin-top: -10px;

            @media #{$large-up} {
                margin-top: -7px;
            }

            p {
                font-size: 16px;
                line-height: 20px;

                @media #{$medium-up} {
                    font-size: 18px;
                }
            }
        }
    }

    &__aside {

        @media #{$large-up} {
            padding-top: 0px;
        }

        .gallery__subsection {
            @include type-teaser-color-block();
            display: inline;
            margin-top: 10px;
            font-size: 8px;

            img {
                height: 45px;
                margin-bottom: -6px;
            }

            @media #{$medium-up} {
                font-size: 8px;
            }

            @media #{$xlarge-up} {
                font-size: 10px;
            }

            a {
                color: $color-black;
                font-size: 11px;
                line-height: 12px;

                @media #{$xlarge-up} {
                    font-size: 16px;
                    line-height: 24px;
                }
            }
        }

        &-ad {
            @media #{$large-up} {
                top: 370px;
            }
        }

        .gallery__summary {
            @media #{$large-up} {
                box-sizing: border-box;
                height: initial;
                margin-bottom: 0px;
                padding: 0px;
            }

            p {
                font-size: 18px;
                line-height: 25px;
                margin-bottom: -7px;
            }
            .gallery__summary-content  {
                @media #{$large-up} {
                    height: 281px;
                }
            }
        }

        .gallery__date, .gallery__author {
            line-height: 20px;
            letter-spacing: 0.6px;
            text-transform: uppercase;
            padding-bottom: 0;
            font: 11px/24px $font-family-sans-serif-primary;
            color: $color-grey-light;
        }

        .gallery__author {
            span {
                &:first-child {
                    color: $color-grey-light;
                    &:before {
                        content: ' ';
                    }
                    &:after {
                        content: ' ';
                    }
                }
                color: $nl-color;
            }
        }

        .social-share-block .social-share {
            @media #{$large-up} {
                width: 38%;
            }
        }
    }

    &__more-heading-container {
        text-align: center;

        &:before {
            content: '';
            position: absolute;
            display: block;
            width: 100%;
            background: none;
            border-top: 1px solid #eaeaea;
        }

        .gallery__more-heading {
            font-family: $font-family-sans-serif-primary;
            font-size: 17px;
            letter-spacing: 0.06em;
            font-size: 17px;
            padding: 0 20px;
            letter-spacing: 0.07em;

            span {
                color: $color-black;

                &:first-child {
                    color: $color-black;
                }
            }
        }
    }

    &__next {
        .teaser__title {
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            text-transform: none;

            a {
                text-decoration: none;
            }
        }
    }

    &__next-main {
        margin-bottom: 5px;

        .teaser__source {
            display: none;
        }
    }

    &__next-container {
        h2 {
            color: $color-white;
            font-size: 24px;
            line-height: 32px;
            font-weight: 500;
            padding: 0 50px 0 50px;
        }

        h5 {
            font-family: $font-family-sans-serif-primary;

            &:after,
            &:before {
                background: rgba(49, 199, 206, .8);
                top: 11px;
            }

            span {
                color: $color-white;
                font-weight: 400;
            }
        }

        .button,
        .button:hover {
            letter-spacing: 0;
            background-color: $color-black-origin;
            padding: 0 15px;
            border-radius: 0;
            min-height: 40px;

            @media #{$large-up} {
                background-color: $color-green;
                padding: 8px 15px;
                width: 48px;
                height: 48px;
            }

            .icon-arrow-next {
                top: 3px;
                font-size: 20px;
                margin-left: 0;
                color: $color-white;

                @media #{$medium-up} {
                    top: 4;
                }
            }

            .gallery__next-text {
                display: block;
                color: $color-white;
                background-color: transparent;
                font-size: 17px;
                padding-bottom: 2px;

                span:first-child {
                    color: $color-white;
                }

                @media #{$large-up} {
                    display: none;
                }
            }

            i {
                font-size: 26px;
            }
        }
    }

    &__next-text {
        display: none;
    }

    &__next-aside {
        .gallery__more {
            margin-top: 20px;

            .teaser__body {
                position: relative;
            }

            .teaser__title {
                font-size: 15px;
                line-height: 20px;

                @media #{$medium-up} {
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            .teaser {
                @media #{small-only} {
                    margin-bottom: 10px;
                }
                @media #{medium-up} {
                    margin-bottom: 35px;
                }
            }

            .teaser__badge-container {
                top: -34px;
                left: -5px;

                @media #{$medium-only} {
                    top: -46px;
                    left: 0;
                }
            }
        }
    }

    &__next-bg {
        background: rgba(0,0,0,0.4);
    }
}
