.tl-header {
    @include mobile-menu-fixed();
    font-family: 'Open-sans', Arial, sans-serif;
}

.header-wrapper {
    margin-bottom: 54px;
    padding-bottom: 1px;
    z-index: 100;
    position: relative;

    @media #{$medium-up} {
        margin-bottom: 95px;
    }

    &.header-wrapper--expanded {
        @media #{$medium-up} {
            margin-bottom: 233px;
        }

        @media #{$xlarge-up} {
            margin-bottom: $header-height-desktop + $header-banner-logo-height;
        }
    }
}

// Header styles for all header types
.header {
    @include mobile-menu-fixed();
    border-width: 0px;
    background-color: $color-aqua;
    box-shadow: none;

    @media #{$medium-up} {
        border-width: 1px;
    }

    &--pinned {
        position: fixed;
        &.header--hide {
            @media #{$small-only} {
                transition: all 1500ms ease;
                transform: translateY(-100%);
                opacity: 0;
            }
        }
    }

    .header__sections {
        background: none;

        @media #{$small-only} {
            // file missing, this is causing 404 errors
            // background-image: url($header-banner-background-path);
            background-position: 0;
            background-size: 290px;
        }

        .nav-item--active {
            color: $color-primary;
        }
    }

    .header-logo {
        @media #{$medium-up} {
            margin-right: 43px;
        }

        @media #{$large-up} {
            margin-left: 0;
        }
    }

    .header-logo__link-image {
        background-size: 207px 20px;
        height: 20px;
        width: 207px;

        @media #{$medium-up} {
            background-size: $header-logo-width-desktop 27px;
            width: $header-logo-width-desktop;
            height: 27px;
            margin-left: 0;
        }
    }

    .header-banner {
        line-height: 137px;
        background: none;

        @media #{$xlarge-up} {
            line-height: 198px;
        }

        a {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 100px;
            margin-top: 20px;
            max-width: 540px;
            vertical-align: top;
            width: 70%;

            @media #{$large-up} {
                width: 36%;
            }

            @media #{$xlarge-up} {
                width: 50%;
                height: 122px;
                max-width: 671px;
                margin-top: 40px;
            }
        }
    }

    .header-menu {
        &__button-menu {

            padding: 0 $column-gutter/2;

            @media #{$medium-up} {
                padding: 0 $column-gutter 0 38px;
            }

            svg, svg path {
                fill: $color-white;
            }

            &:hover svg,
            &:hover svg path {
                fill: $color-white;
                opacity: 0.75;
                transition: opacity 0.3s;
                transition-timing-function: ease-in-out;
            }
        }
    }

    .header-nav {
        width: calc(100% - #{$header-logo-container-width-desktop + 160px});

        @media #{$medium-up} {

            &:before {
                border-left: 1px solid $color-white;
                height: 22px;
                right: 10px;
                top: 8px;
                position: relative;
            }
        }

        a {
            @include menu-hover;
            color: $color-white;
            display: inline-block;
            font-size: 15px;
            letter-spacing: 1.2px;
            padding: 0 15px;
            text-decoration: none;

            &:active,
            &:focus,
            &:hover,
            &.nav-item--active {
                color: $color-white;
            }

            @media #{$xlarge-up} {
                font-size: 20px;
            }
        }

        &__nav {
            > a,
            .header-sub-nav > a {
                &:active,
                &:focus,
                &:hover,
                &.nav-item--active {
                    @include menu-hover--hover;
                }
            }
            .header-sub-nav > ul > li > a {
                &:active,
                &:focus,
                &:hover,
                &.nav-item--active {
                    @include sub-menu-hover--hover;
                }
            }
        }

    }

    .header-nav__nav {
        filter: blur(0);
        height: 35px;
        line-height: 2em;
        margin-top: 14px;
        vertical-align: top;
        white-space: nowrap;
        width: 100%;

        .header-sub-nav {
            display: inline-block;
            vertical-align: top;
            position: relative;

            &:hover {
                .sub-nav-list__dropdown {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }
            }

            > a {
                .tl-icon-drop-menu {
                    display: none;
                }

            }

            .sub-nav-list__dropdown {
                display: block;
                visibility: hidden;
                opacity: 0;
                position: absolute;
                z-index: 1500;
                background-color: $color-primary;
                list-style-type: none;
                padding: 15px;
                left: 50%;
                transform: translateX(-50%);
                top: 23px; // Distance from bottom of nav item to top of sub-nav drop-down
                width: 130px;
                text-align: center;
                white-space: normal;

                @media #{$medium-up} {
                    width: 165px;
                    // Slowly hide to allow mouse to drag from nav to reach sub-nav before it disappears
                    transition: visibility 0s linear 0.15s, opacity 0.15s linear;
                }

                &:hover {
                    display: block;
                    visibility: visible;
                    opacity: 1;
                }

                li {
                    line-height: 28px;

                    a {
                        float: none;
                        padding: 10px 0 0;
                        display: inline-block;
                    }
                }
            }
        }
    }
}

// When header is expanded i.e home page and when it has not been fixed to the top
.header.header--expanded:not(.header--pinned) {
    box-shadow: 0px 0px 0px 0px rgba(255, 235, 246, 0.9);

    @media #{$xlarge-up} {
        transition: left $animation-timings cubic-bezier(.23, .71, .45, 1), box-shadow 200ms;
    }

    .header__sections {
        > div {
            @media #{$medium-up} {
                float: left;
                height: $header-height-desktop;
                overflow: hidden;
            }
        }
    }

    .header-banner {
        @media #{$xlarge-up} {
            line-height: $header-banner-logo-height;
        }
    }

    .header-nav {
        @media #{$medium-up} {
            display: block;
            overflow: hidden;
            width: calc(100% - 160px);
        }

        &:before {
            display: none;
        }

        nav {
            display: block;
            height: 28px;
            line-height: 1.5em;
            margin-left: 0;
            text-align: center;
            transform: translate(0);
            white-space: normal;
            width: 100%;
        }

        a {
            @media #{$large-up} {
                font-size: 20px;
            }

            &:before {
                content: ' ';
                height: 12px;
                top: 5px;

                @media #{$large-up} {
                    height: 15px;
                    top: 7px;
                }
            }
        }
    }

    .header-logo {
        @media #{$large-up} {
            margin-left: 0;
        }

        @media #{$xlarge-up} {
            transition: none;
        }
    }
}
