.tl-header {
    @include mobile-menu-fixed();
    font-family: 'Open-sans', Arial, sans-serif;
}

.header-wrapper {
    overflow: auto;

    &.header-wrapper--expanded {
        @media #{$medium-up} {
            margin-bottom: 213px;
        }

        @media #{$xlarge-up} {
            margin-bottom: $header-height-desktop + $header-banner-logo-height;
        }
    }
}

// Header styles for all header types
.header {
    @include mobile-menu-fixed();
    border-width: 0px;
    background-color: $color-black;
    box-shadow: none;

    @media #{$medium-up} {
        border-width: 1px;
    }

    &--pinned {
        position: fixed;
    }

    .header__sections {
        background: none;

        @media #{$small-only} {
            background-image: url($header-banner-background-path);
            background-position: 0;
            background-size: 290px;
        }

        .nav-item--active {
            color: $color-primary;
        }
    }

    .header-logo {
        @media #{$large-up} {
            margin-left: 0;
        }
    }

    .header-logo__link-image {
        background-size: 152px 28px;
        height: 28px;
        width: 152px;

        @media #{$small-only} {
            background-size: 124px 30px;
            height: 30px;
            width: 124px;
        }

        @media #{$medium-up} {
            background-size: $header-logo-width-desktop 37px;
            height: 37px;
            margin-left: 0;
        }
    }

    .header-banner {
        line-height: 137px;
        background: none;

        @media #{$xlarge-up} {
            line-height: 198px;
        }

        a {
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: 100% 100%;
            height: 100px;
            margin-top: 20px;
            max-width: 540px;
            vertical-align: top;
            width: 70%;

            @media #{$large-up} {
                width: 36%;
            }

            @media #{$xlarge-up} {
                width: 50%;
                height: 122px;
                max-width: 671px;
                margin-top: 40px;
            }
        }
    }

    .header-menu__button-menu {
        &:hover svg,
        &:hover svg path {
            fill: $color-primary-light;
        }
    }

    .header-nav {
        width: calc(100% - #{$header-logo-container-width-desktop + 80px});

        a {
            color: $color-white;
            display: inline-block;
            font-size: 1.1em;
            padding: 0 20px 0 21px;

            &:before {
                height: 12px;
                top: 5px;

                @media #{$xlarge-up} {
                    height: 15px;
                    top: 7px;
                }
            }

            &:active,
            &:focus,
            &:hover {
                color: $color-primary;
                text-decoration: none;
            }

            &:first-child {
                &:before {
                    display: none;
                }
            }

            @media #{$xlarge-up} {
                font-size: 20px;
            }
        }
    }

    .header-nav__nav {
        filter: blur(0);
        height: 21px;
        line-height: 2em;
        margin-top: 25px;
        overflow: hidden;
        vertical-align: top;
        white-space: normal;
        width: 100%;

        @media #{$xlarge-up} {
            margin-top: 24px;
        }
    }


    @media #{$medium-up} {
        box-shadow: 0px 6px 0px 0px rgba(255, 235, 246, 0.9);
    }
}

// When header is expanded i.e home page and when it has not been fixed to the top
.header.header--expanded:not(.header--pinned) {
    box-shadow: 0px 0px 0px 0px rgba(255, 235, 246, 0.9);

    @media #{$xlarge-up} {
        transition: left $animation-timings cubic-bezier(.23, .71, .45, 1), box-shadow 200ms;
    }

    .header__sections {
        > div {
            @media #{$medium-up} {
                float: left;
                height: 75px;
                overflow: hidden;
            }
        }
    }
    
    .header-banner {
        @media #{$xlarge-up} {
            line-height: $header-banner-logo-height;
        }
    }

    .header-nav {
        @media #{$medium-up} {
            display: block;
            overflow: hidden;
            width: calc(100% - 160px);
        }

        &:before {
            display: none;
        }

        nav {
            display: block;
            height: 28px;
            line-height: 1.5em;
            margin-left: 0;
            overflow: hidden;
            text-align: center;
            transform: translate(0);
            white-space: normal;
            width: 100%;
        }

        a {
            @media #{$large-up} {
                font-size: 20px;
            }

            &:before {
                content: ' ';
                height: 12px;
                top: 5px;

                @media #{$large-up} {
                    height: 15px;
                    top: 7px;
                }
            }
        }
    }

    .header-nav__nav {
        @media #{$large-up} {
            line-height: 1em;
            margin-top: 24px;
            vertical-align: top;
        }
    }

    .header-logo {
        @media #{$large-up} {
            margin-left: 0;
        }

        @media #{$xlarge-up} {
            transition: none;
        }
    }
}
