.off-canvas {
    height: 100%;
    overflow: auto;
    padding: 0;
}

.off-canvas__overlay {
    background-color: rgba(0, 0, 0, 0.3);
    z-index: $z-index-15;
}

.off-canvas--left .close-btn {
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;
    position: absolute;
    right: 17px;
    top: 22px;

    &:hover,
    &:focus,
    &:active {
        outline: none;
    }

    &:hover svg,
    &:hover svg path {
        fill: $color-primary-light;
    }

    svg {
        fill: $color-primary;
        width: 19px;
        height: 19px;
    }
}

.mobile-menu {
    font-family: $font-family-sans-serif-primary;
    font-size: 22px;
    line-height: 1em;
    margin-top: 0;
    text-transform: uppercase;
}

.mobile-menu__nav {
    font-size: 24px;
    font-weight: bold;

    a:hover {
        color: $color-primary;
        text-decoration: none;
    }

    a:focus {
        text-decoration: none;
    }

    @media #{$medium-up} {
        font-size: 28px;
    }
}

.mobile-menu__nav .nav-item {
    color: $color-white;
    display: block;
    padding: 5px 0;
    font-size: 24px;
    font-weight: bold;

    @media #{$medium-up} {
        padding: {
            top: 7px;
            bottom: 7px;
        };
    }
}

.mobile-menu__nav .nav-item--active {
    color: $color-primary;
    text-decoration: none;
}

.off-canvas-content-wrapper {
    padding: $column-gutter / 2;

    @media #{$large-up} {
        height: 100%;
        overflow: auto;
        position: fixed;
        width: $offcanvas-tablet-width;
    }

    @media #{$xlarge-up} {
        width: $offcanvas-desktop-width;
        padding-left: 165px + ($column-gutter / 2);
    }

}