.newsletter-subscribe {
    $root: &;

    font-size: 14px;
    text-align: center;
    font-family: $font-family-sans-serif-primary;

    &__text {
        margin: 5px 0 -5px 0;
        font-family: $font-family-questrial;
        font-size: 14px;
        line-height: 16px;
        color: $color-primary;
        font-weight: 400;
    }

    &__title {
        font-family: $font-family-muli;
        font-size: 18px;
        line-height: 16px;
        text-transform: uppercase;
        color: $color-primary;
        font-weight: 600;
        margin-bottom: 14px;
    }

    a {
        color: #fff;
        display: inline-block;
        padding: 8px 18px;
        margin: 20px 0 20px;
        letter-spacing: 0.7px;
        text-decoration: none;
        font-size: 12px;
        font-family: $font-family-muli;
    }

    &__button-default a {
        background-color: $color-primary;
    }

    &__button-wd a {
        background-color: $wd-color;
    }

    &__button-aww a {
        background-color: $aww-color;
    }

    &__button-gh a {
        background-color: $good-health-color;
    }

    &__button-ok a {
        background-color: $ok-color;
    }

    &__button-nw a {
        background-color: $nw-color;
    }

    &__button-take5 a {
        background-color: $wd-color;
    }

    &__button-yours a {
        background-color: $yours-color;
    }

    &__button-mb a {
        background-color: $mother-baby-color;
    }

    &__button-bounty a {
        background-color: $bounty-color;
    }

    &__button-ptl a {
        background-color: $ptl-color;
    }

    &__button-tvweek a {
        background-color: $tv-color;
    }

    &__button-nzww a {
        background-color: $nz-womans-weekly-color;
    }

    &__button-nzwd a {
        background-color: $nz-womans-day-color;
    }

    &__button-awwnz a {
        background-color: $nz-aww-color;
    }

    &__button-next a {
        background-color: $nz-next-color;
    }

    &__button-nzgh a {
        background-color: $nz-good-health-choices-color;
    }

    &__button-nadia a {
        background-color: $nz-nadia-color;
    }

    &__button-btl a {
        background-color: $nz-btl-color;
    }

    &__button-empire a {
        background-color: $empire-color;
    }

    &--in-footer {
        border-top: 0;
        padding-top: 0;

        @media #{$medium-up} {
            padding-top: 30px;
        }

        @media #{$large-up} {
            padding-top: 0;
        }

        #{$root}__title {
            @include type-footer-column-heading;
            margin-bottom: 20px;
        }

        #{$root}__text {
            @include type-footer-text;
        }

        #{$root}__button-default a {
            background-color: $color-navy-blue;
            margin: 20px 0 0;
        }
    }
}
