.teaser {
    position: relative;

    &.teaser--has-video,
    &.teaser--gallery {
        &:after {
            position: absolute;
            width: 40px;
            height: 40px;
            background-repeat: no-repeat;
            background-position: top left;
            background-size: contain;
            content: '';
            background-color: $color-white;
            border: 1px solid $color-white;
            left: 0;
            top: 0;
        }            
    }       

    &.teaser--has-video {
        &:after {
            background-image: url($play-icon);
            }
    }

    &.teaser--gallery {
        &:after {
            background-image: url($gallery-icon);
        }
    }
}

.top-news-feed {
    margin-top: 14px;
    padding: 0;

    .teaser {
        &.teaser--has-video,
        &.teaser--gallery {
            &:after {
                top: 0px;
                left: 0px;
            }            
        }      
    } 
}

.bottom-news-feed {
    position: relative;

    @media #{$medium-up} {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$large-up} {
        padding-left: 0;
        padding-right: 0;
    }

    &:first-child {

        .teaser__list-item {

            &:not(.teaser__list-item--ad) {
                
                &:first-child {

                    &:not(.teaser__list-item--ad) {
                        margin-top: 0;
                        padding-top: 0;
                        
                        &:after {
                            background-color:  transparent;
                        }
                    }
                }
            }
        }
    }

    .teaser-view-list-container {
        @include grid-column($columns: 12, $collapse: true);

        @media #{$medium-up} {
            @include grid-column($columns: 6, $collapse: false);
        }

        @media #{$large-up} {
            @include grid-column(8);
        }
    }

    .sticky-block {
        display: none;

        @media #{$medium-up} {
            @include grid-column(6);
            display: inherit;
            min-height: 250px;
        }

        @media #{$large-up} {
            @include grid-column(4);
        }
    }

    .ad--section-mrec {
        @media #{$small-only} {
            margin-left: -5px;
        }
    }

    .teaser {
        &.teaser--has-video,
        &.teaser--gallery {
            &:after {
                top: 0px;
                left: 15px;
                @media #{$medium-up} {
                    top: 0px;
                    left: 0px;
                }
                @media #{$large-up} {
                    top: 0px;
                    left: 15px;
                }
            }            
        }      
    } 
}

