
.feed__container {
    .feed-item {
        .ad {
            position: absolute;
            background-color: #fff;
            height: calc( 100% - 40px);
        }
    }
}

.related-content-items {
    .feed-item {
        &__body {
            margin-bottom: 0;
        }

        .ad {
            position: absolute;
            background-color: #fff;
            top: 0;
            height: 100%;
            width: calc(100% - 15px);

            @media #{$medium-up} {
                width: calc(100% - 30px);
            }
        }
    }
}