.social-share-block {
    background: transparent;
    border: 0;
    font-weight: 500;
    margin: {
        bottom: 8px;
        left: - $column-gutter / 2;
        top: 8px;
    }
    padding: 0;
    white-space: nowrap;

    @media #{$medium-up} {
        margin: {
            bottom: 25px;
            left: 0;
            top: 13px;
        }

        text-align: center;
    }

    .social-share {
        background-color: transparent;
        border: 0;
        color: transparent;
        font-size: 0;
        height: 35px;
        padding: 0;
        position: relative;
        text-align: center;
        transition: none;
        width: 46px;

        &:before {
            display: inline-block;
            font-size: 23px;
            transition: color 200ms ease-in;
            width: 100%;
        }

        &.icon-facebook {
            &:before {
                font-size: 21px;
            }
        }

        &.icon-twitter {
            line-height: 1.2;

            &:before {
                font-size: 18px;
            }
        }

        &.icon-pinterest {
            line-height: 1.2;

            &:before {
                font-size: 18px;
            }

            width: 43px;
        }

        &.icon-email {
            margin: {
                left: -1px;
            }

            &:before {
                font-size: 18px;
            }

            @media #{$medium-up} {
                margin: {
                    left: 3px;
                }
            }
        }
    }

    .social-share-count {
        background-image: url('/assets/backgrounds/social-divider.svg');
        background-position: left;
        background-repeat: no-repeat;
        color: $color-black;
        display: inline-block;
        font-family: $font-family-sans-serif-primary;
        font-weight: 400;
        margin-left: 17px;
        margin-top: 6px;
        padding-left: 35px;
        position: relative;
        text-transform: none;
        vertical-align: top;

        @media #{$medium-up} {
            margin-top: 2px;
        }
    }
}
