.social-share-block {
    background: transparent;
    border: 0;
    font-weight: 500;
    margin: {
        bottom: 8px;
        top: 8px;
    }
    padding: 0;
    white-space: nowrap;

    @media #{$medium-up} {
        margin: {
            bottom: 25px;
            left: 0;
            top: 13px;
        }

        text-align: center;
    }

    .social-share {
        background-color: transparent;
        border: 0;
        color: transparent;
        font-size: 11px;
        font-weight: 500;
        height: 32px;
        padding: 0;
        position: relative;
        text-align: center;
        transition: none;
        width: 49%;
        margin-right: 10px;
        font-family: 'Amsi Pro Narrow', sans-serif;
        line-height: 32px;

        &.icon-facebook {
            background-color: $facebook-share-color;
            padding: 0 16px;
            text-align: center;
            color: white;

            &:before {
                font-family: 'social-icons';
                font-size: 16px;
                color: white;
                margin-right: 8px;
                display: inline-block;
                vertical-align: middle;
            }
        }

        &.icon-pinterest {
            background-color: $pinterest-share-color;
            padding: 0 20px;
            text-align: center;
            color: white;
            content: '';

            &:before {
                font-family: 'social-icons';
                font-size: 16px;
                color: white;
                margin-right: 8px;
                display: inline-block;
                vertical-align: middle;
            }
        }
    }

    .social-share-count {
        background-image: url('/assets/backgrounds/social-divider.svg');
        background-position: left;
        background-repeat: no-repeat;
        color: $color-black;
        display: inline-block;
        font-family: $font-family-sans-serif-primary;
        font-weight: 400;
        margin-left: 17px;
        margin-top: 6px;
        padding-left: 35px;
        position: relative;
        text-transform: none;
        vertical-align: top;

        @media #{$medium-up} {
            margin-top: 2px;
        }
    }
}
