ul.subsections-list {
    list-style-type: none;
    padding-left: 0px;

    li {
        display: inline-block;
        text-align: center;

        a {
            text-decoration: none;

            span.subsections-list-item {
                background: black;
                font-family: $font-family-sans-serif-primary;
                color: white;
                padding: 10px;
                font-size: 12px;
                letter-spacing: 1px;
                text-transform: uppercase;
                display: inline-block;
            }
        }
    }

    @media #{$small-only} {
        margin: -20px 0 5px 8px;

        li {
            width: 44%;
            margin: 3px 2%;
            line-height: 20px;

            a span.subsections-list-item {
                width: 41vw;
                display: inline-block;
            }
        }
    }

    @media #{$medium-only} {
        margin: 0 0 5px 10px;

        li {
            width: 44%;
            margin: 3px 2%;
            line-height: 20px;

            a span.subsections-list-item {
                width: 41vw;
                display: inline-block;
            }
        }
    }

    @media #{$large-up} {
        li {
            margin: 4px;

            a span.subsections-list-item {
                width: 148px;
            }
        }
    }
}

