.page-title {
    @include type-section-title();
    margin-bottom: 0;
    padding: $header-banner-height-mobile $column-gutter/2 10px;
    text-align: center;

    @media #{$medium-only} {
        padding: 35px $column-gutter/2 55px;
    }

    @media #{$large-up} {
        padding: 35px $column-gutter/2 55px;
    }
    
    span {
        color: $color-black-origin;
    }
}

.page-title__symbol {
    color: $color-primary;
    letter-spacing: -5px;

    &:before {
        content: '';
    }

    @media #{$medium-up} {
        letter-spacing: -8px;
    }
}
