.page-title {
    @include type-section-title();
    margin-bottom: 0;
    padding: 20px $column-gutter/2;
    text-align: left;

    @media #{$medium-up} {
        padding: 0;
        text-align: center;
    }
}

.page-title__symbol {
    color: $color-primary;
    letter-spacing: -5px;

    &:before {
        content: '//';
        padding-right: 14px;
    }

    @media #{$medium-up} {
        letter-spacing: -8px;
    }
}
