.trending-wrapper {
    background: none;
    position: relative;
    padding-top: 50px;

    @media #{$medium-up} {
        padding-top: 80px;
    }

    @media #{$medium-only} {
        padding-left: 15px;
        padding-right: 15px;
    }

    @media #{$xlarge-up} {
        padding-top: 20px;
    }

    @media #{$small-only} {
        .small-block-grid-2 > li:nth-child(1) {
            padding-right: $column-gutter / 4;
        }
        .small-block-grid-2 > li:nth-child(2) {
            padding-left: $column-gutter / 4;
        }
    }

    .container {
        padding-bottom: 5px;

        @media #{$medium-up} {
            padding-bottom: 8px;
        }

        @media #{$xlarge-up} {
            padding-bottom: 0;
        }

        &:after {
            content: '';
            position: absolute;
            height: 5px;
            background: $color-black;
            left: $column-gutter/2;
            right: $column-gutter/2;

            @media #{$medium-up} {
                height: 8px;
                left: $column-gutter;
                right: $column-gutter;
            }

            @media #{$xlarge-up} {
                position: relative;
                display: block;
                height: 10px;
                left: 0;
                right: 0;
                margin: 0 $column-gutter/2;
            }
        }
    }

    .trending__caption {
        left: 0px;
        overflow: hidden;
        position: absolute;
        top: 5px;
        width: 100%;
        text-align: center;

        @media #{$xlarge-up} {
            left: -20px;
        }

        img {
            width: 165px;

            @media #{$medium-up} {
                width: 410px;
            }

            @media #{$xlarge-up} {
                width: 185px;
            }
        }
    }

    .teaser__list {
        counter-reset: counter;

        .teaser__title {
            @include type-bottom-teaser-title;
            font-weight: 400;
            text-transform: uppercase;
            padding-top: 0px;
            line-height: 25px;

            @media #{$medium-up} {
                font-size: 16px;
            }

            @media #{$xlarge-up} {
                font-size: 20px;
                line-height: 1.5;
            }

            a {
                color: $color-white;
                background-color: $color-primary;
                box-shadow: 0.3em 0 0 $color-primary,-0.2em 0 0 $color-primary;
                padding-bottom: 1px;

                &:hover,
                &:focus {
                    text-decoration: none;
                    background-color: #fe2ea9;
                    box-shadow: 0.3em 0 0 #fe2ea9,-0.2em 0 0 #fe2ea9;
                }
            }
        }

        .teaser__image {
            img {
                &:hover {
                    outline: 5px solid $color-yellow;
                    outline-offset: -5px;
                    opacity: 1;
                }
            }
        }

        .teaser__list-item {
            padding-bottom: 20px;

            @media #{$medium-up} {
                padding-bottom: 30px;
            }

            .teaser {
                counter-increment: counter;
                position: relative;
             }

            .teaser__inner {
                &:before {
                    content: counter(counter);
                    position: absolute;
                    background-color: $color-yellow;
                    height: 35px;
                    width: 30px;
                    background-repeat: no-repeat;
                    z-index: 500;
                    top: -5px;
                    left: -7px;
                    font-size: 25px;
                    color: $color-black;
                    padding-left: 9px;

                    @media #{$xlarge-up} {
                        height: 55px;
                        width: 50px;
                        top: -10px;
                        left: -12px;
                        font-size: 41px;
                        padding-left: 15px;
                        line-height: 58px;
                    }
                }

                &:after {
                    content: ' ';
                    position: absolute;
                    width: 0;
                    height: 0;
                    left: -2px;
                    top: 25px;
                    border-width: 12px 0 0 20px;
                    border-style: solid;
                    border-color: $color-yellow transparent;

                    @media #{$xlarge-up} {
                        top: 35px;
                        left: 0;
                        border-width: 20px 0 0 25px;
                    }
                }
            }
        }

        .teaser__list-item:nth-child(n+3) {
            display: none;
        }

        @media #{$medium-up} {
            .teaser__list-item:nth-child(3) {
                display: block;
            }
        }

        @media #{$large-up} {
            .teaser__list-item:nth-child(n+4) {
                display: block;
            }

        }
    }
}




