.uniheader {
    background-color: #F9F9F9;

    @media #{$small-only} {
        visibility: hidden;         
    }

    &__nav {
        height: 49px;
        max-width: 800px;
        margin: 0 auto;

        ul {
            margin: 0;
            padding: 0;
            list-style-type: none;
            text-align: center;

            li {
                display: inline; 
                line-height: 49px;

                a {
                    text-decoration: none;
                    padding: 0 14px;

                    @media #{$medium-only} {
                        padding: 0 9px 0 9px;
                    }
                }

                img {
                    transition: all 0.2s;   
                }

                img:not(:hover) {
                    filter: invert(0.5) opacity(0.8); 
                }

                img.uniheader__logo--nw:not(:hover), 
                img.uniheader__logo--yours:not(:hover), 
                img.uniheader__logo--take5:not(:hover),
                img.uniheader__logo--ok:not(:hover),
                img.uniheader__logo--tvweek:not(:hover) {
                    filter: grayscale(1) opacity(0.6); 
                }

                img.uniheader__logo-- {
                    &nzww {
                        height: 20px;
                    }

                    &awwnz {
                        height: 23px;
                    }

                    &next {
                        height: 18px;
                    }

                    &nzwd {
                        height: 23px;
                        padding-top: 2px;   
                    }

                    &nzgh {
                        height: 33px;
                        padding-top: 8px;
                    }

                    &nadia {
                        height: 33px;
                        padding-bottom: 9px;
                    }

                    &simply {
                        height: 24px;
                    }
                }

            }

            li:first-child a {
                padding: 0 14px 0 0;
                @media #{$medium-only} {
                    padding: 0 10px 0 0;
                }
            }
            li:last-child a {
                padding: 0 0 0 14px;
                @media #{$medium-only} {
                    padding: 0 0 0 10px;
                }
            }
        }

        @media #{$small-only} {
            height: 0px;         
        }
    }
}
