// Unfortunately stupid brightcove uses important in its default styling :(
.video-wrapper {
    .video-js {
        .vjs-big-play-button {
            border: $video-button-border-sml $color-white solid;
            border-radius: 0px !important;
            height: $video-button-height-sml !important;
            width: $video-button-width-sml !important;
            transform: translate(-50%,-50%);
            margin: 0 !important;
            left: 50% !important;
            top: 50% !important;
            transition: background-color .3s ease;

            &:hover,
            &:active {
                background-color: rgba(0, 0, 0, .70);
            }

            &:before {
                margin: 0;
                margin-left: -2px;
                opacity: 1;
                line-height: $video-button-height-sml - (2 * $video-button-border-sml);
                font-size: 30px;

                @media #{$medium-up} {
                    margin-left: 0px;
                    font-size: 50px;
                    padding-left: 0;
                    line-height: $video-button-height - (2 * $video-button-border);
                }
            }

            @media #{$medium-up} {
                border-width: $video-button-border;
                height: $video-button-height !important;
                width: $video-button-width !important;
            }
        }

        .vjs-volume-level,
        .vjs-play-progress {
            background-color: $color-primary;
        }
    }

    &:hover,
    &:active {
        
        .vjs-big-play-button {
            background-color: #000;
        }
    }
}
