.nav-link {
    @include type-side-menu-link;
    display: block;
    margin-bottom: 14px;

    &:hover {
        color: $color-secondary;
        text-decoration: none;
    }

    &--active {
        color: $color-secondary;
    }

    &:focus {
        color: $color-secondary;
    }

    &--subsection {
        @include type-side-menu-subsection;
        margin-bottom: 5px;
    }

    &--dropdown-root {
        flex-grow: 0;
        flex-shrink: 0;
        flex-basis: auto;
        margin-bottom: 0;
    }
}
