.footer {
    .get-social__links {
        margin: -15px auto 0;

        @media #{$medium-up} {
            margin-top: 0px;
        }

        @media #{$large-up} {
            margin-top: -30px;
        }

        @media #{$xlarge-up} {
            margin-top: -20px;
        }

        .social-link {
            @media #{$xlarge-up} {
                width: 100px;
            }

            img, svg {
                height: 25px;
                width: 25px;

                @media #{$medium-up} {
                    height: 30px;
                    width: 30px;
                }
            }

            &--facebook svg {
                fill: $facebook-footer-color;
            }

            &--twitter svg {
                fill: $twitter-footer-color;
            }

            &--instagram svg {
                fill: $instagram-orange;
            }

            &--youtube svg {
                fill: $youtube-color;
            }

            &--snapchat svg {
                fill: $snapchat-color;
            }

            &--newsletter svg {
                fill: $newsletter-color
            }
        }
    }
}
