@mixin menu-hover {

    &:after,
    &:before {
        position: absolute;
        bottom: $menu-hover-border-bottom-distance;
        top: auto;
        height: $menu-hover-border-thickness;
        width: 0;
        transition: width .3s ease;
        background-color: $menu-hover-border-color;
        content: '';
        display: block;
        border: none;
	}

    &:after {
        right: 50%;
    }

    &:before {
        left: 50%;
	}
}

@mixin menu-hover--hover {

    &:after,
    &:before {
        width: calc(50% - 15px);
	}
}

