@mixin teaser-source {
    line-height: 15px;
    padding: 0 15px;
    color: $color-grey-light;
    text-transform: uppercase;
    letter-spacing: .7px;
    font: 400 11px/15px $font-family-serif-primary;

    @media #{$medium-up} {
        padding: 0;
        line-height: 12px;
    }

    span:first-child,
    &--now-to-love span:first-child {
        color: $nl-color;
    }

    &--woman-s-day span:first-child {
        color: $wd-color;
    }

    &--australian-women-s-weekly span:first-child {
        color: $aww-color;
    }

    &--good-health span:first-child {
        color: $good-health-color;
    }

    &--yours span:first-child {
        color: $yours-color;
    }

    &--ok--magazine span:first-child {
        color: $ok-color;
    }

    &--mother-and-baby span:first-child {
        color: $mother-baby-color;
    }

    &--take-5 span:first-child {
        color: $take-5-color;
    }

    &--nw span:first-child {
        color: $nw-color;
    }

    &--tv-week span:first-child {
        color: $tv-color;
    }

    &--prizes-to-love span:first-child {
        color: $ptl-color;
    }  

    &__breaker span:first-child {
        margin: 0 3px 0 2px;
        color: $color-grey-lighter-level-one;
    }

    &__breaker {
        margin: 0 3px 0 2px;
        color: $color-grey-lighter-level-one
    }
}
