@mixin teaser-source {
    line-height: 15px;
    padding: 0 15px;
    color: $color-grey-light;
    text-transform: uppercase;
    letter-spacing: .7px;
    font: 400 11px/15px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        padding: 0;
        line-height: 12px;
    }

    span:first-child,
    &--now-to-love span:first-child {
        color: $nl-color;
    }

    &--woman-s-day span:first-child {
        color: $wd-color;
    }

    &--australian-women-s-weekly span:first-child {
        color: $aww-color;
    }

    &--good-health span:first-child {
        color: $good-health-color;
    }

    &--yours span:first-child {
        color: $yours-color;
    }

    &--ok--magazine span:first-child {
        color: $ok-color;
    }

    &--shop-til-you-drop span:first-child {
        color: $shop-color;
    }

    &--mother-and-baby span:first-child {
        color: $mother-baby-color;
    }

    &--take-5 span:first-child {
        color: $take-5-color;
    }

    &--nw span:first-child {
        color: $nw-color;
    }

    &--tv-week span:first-child {
        color: $tv-color;
    }    

    &__breaker span:first-child {
        margin: 0 5px;
    }

    &__breaker {
        margin: 0 5px;
    }
}
