.section-page {
    .page-title__now {
        color: $color-primary;
    }

    .container {
        .banner-wrapper {
            margin-bottom: 20px;
            margin-left: -15px;
            margin-right: -15px;

            @media #{$medium-up} {
                margin-left: 0;
                margin-right: 0;
            }

            image {
                width: 100%;
            }
        }
    }
}

.brand-section-page {
    .newsletter-subscribe {

        @media #{$medium-only} {
            float: left;
            width: 50%;
            border-right: 1px solid #e5e5e5;
        }
    }

    .page__top-container {
        .get-social {
            .get-social-title {

                @media #{$medium-only} {
                    margin: 8px auto 20px;
                    float: right;
                    width: 346px;
                }
            }
        }
    }

    .hero-wrapper {

        @media #{$medium-only} {
            padding-bottom: 0;
        }
    }
}
