.section-page {
    .ad--section-top-leaderboard {
        background: none;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 0;

        @media #{$medium-up} {
            padding-top: 30px;
            padding-bottom: 20px;
        }

        @media #{$xlarge-up} {
            padding-top: 40px;
            padding-bottom: 25px;
        }
    }
}
