.section-page {
    .page-title__now {
        color: $color-primary;
    }

    .container {
        .banner-wrapper {
            margin-bottom: 20px;
            margin-left: -15px;
            margin-right: -15px;

            @media #{$medium-up} {
                margin-left: 0;
                margin-right: 0;
            }

            image {
                width: 100%;
            }
        }
    }
}

.brand-section-page {
    .newsletter-subscribe {

        @media #{$medium-only} {
            float: left;
            width: 50%;
        }

        &__title {
            font-family: $font-family-muli;
            font-size: 18px;
            line-height: 16px;
            text-transform: uppercase;
            color: $color-black-origin;
            font-weight: 600;
            margin-bottom: 14px;
            margin-top: 15px;
        }
    }

    .page__top-container {
        .get-social {
            .get-social-title {

                @media #{$medium-only} {
                    margin: 8px auto 20px;
                    float: right;
                    width: 50%;
                }
            }
        }
    }

    .hero-wrapper {

        @media #{$medium-only} {
            padding-bottom: 0;
        }
    }
}

.brand-section {

    &--gh {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $good-health-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--wd {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $wd-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--ok {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $ok-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--mb {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $mother-baby-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--bounty {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $bounty-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--take5 {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $take-5-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--nw {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $nw-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--tvweek {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $tv-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--ptl {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $ptl-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--empire {

        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $empire-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

    &--aww, &--australian-women-s-weekly {
        .social-icon {
            &__icon {
                svg {
                    path {
                        fill: $aww-color;
                    }
                }
            }

            &--facebook {
                &:hover {
                    path {
                        fill: $facebook-blue;
                    }
                }
            }

            &--twitter {
                &:hover {
                    path {
                        fill: $twitter-blue;
                    }
                }
            }

            &--instagram {
                &:hover {
                    path {
                        fill: $instagram-brown;
                    }
                }
            }

            &--pinterest {
                &:hover {
                    path {
                        fill: $pinterest-red;
                    }
                }
            }
        }
    }

}
