- var paragraphsPerAd = 5
- var paragraphCount = 0
- var adCount = 0

each item in entity.contentBody
    case item.type
        when 'heading'
            include heading
        when 'paragraph'
            include paragraph
        when 'image'
            include image
        when 'instagram'
            include instagram
        when 'youtube'
            include youtube
        when 'vimeo'
            include vimeo
        when 'video'
            include video
        when 'giphy'
            include giphy
        when 'facebook'
            include facebook
        when 'twitter'
            include twitter
