- var splitParagraphs = locals.splitParagraphs(item.content)

each paragraph in splitParagraphs
    - paragraphCount = paragraphCount + 1
    - if (paragraphCount % paragraphsPerAd === 0)
        - adCount= adCount + 1
        +ampAd(300, 250, adCount)

    p(class="content-body__paragraph")!= locals.parse(paragraph)
