@font-face {
    font-family: 'Baskerville';
    src: url('/assets/fonts/Baskerville-Regular-webfont.eot');
    src: url('/assets/fonts/Baskerville-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Baskerville-Regular-webfont.woff2') format('woff2'),
    url('/assets/fonts/Baskerville-Regular-webfont.woff') format('woff'),
    url('/assets/fonts/Baskerville-Regular-webfont.ttf') format('truetype'),
    url('/assets/fonts/Baskerville-Regular-webfont.svg#baskerville_fsregular') format('svg');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('/assets/fonts/Baskerville-Bold-webfont.eot');
    src: url('/assets/fonts/Baskerville-Bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Baskerville-Bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/Baskerville-Bold-webfont.woff') format('woff'),
    url('/assets/fonts/Baskerville-Bold-webfont.ttf') format('truetype'),
    url('/assets/fonts/Baskerville-Bold-webfont.svg#baskerville_fsbold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Baskerville';
    src: url('/assets/fonts/Baskerville-Italic-webfont.eot');
    src: url('/assets/fonts/Baskerville-Italic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/Baskerville-Italic-webfont.woff2') format('woff2'),
    url('/assets/fonts/Baskerville-Italic-webfont.woff') format('woff'),
    url('/assets/fonts/Baskerville-Italic-webfont.ttf') format('truetype'),
    url('/assets/fonts/Baskerville-Italic-webfont.svg#baskerville_fsitalic') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro Narrow';
    src: url('/assets/fonts/amsipronarw-bold-webfont.eot');
    src: url('/assets/fonts/amsipronarw-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/amsipronarw-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/amsipronarw-bold-webfont.woff') format('woff'),
    url('/assets/fonts/amsipronarw-bold-webfont.ttf') format('truetype'),
    url('/assets/fonts/amsipronarw-bold-webfont.svg#amsi_pro_narwbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Amsi Pro Narrow';
    src: url('/assets/fonts/amsipronarw-black-webfont.eot');
    src: url('/assets/fonts/amsipronarw-black-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/amsipronarw-black-webfont.woff2') format('woff2'),
    url('/assets/fonts/amsipronarw-black-webfont.woff') format('woff'),
    url('/assets/fonts/amsipronarw-black-webfont.ttf') format('truetype'),
    url('/assets/fonts/amsipronarw-black-webfont.svg#amsi_pro_narwblack') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Proxima Nova';
    src: url('/assets/fonts/ProximaNova-Regular.eot');
    src: url('/assets/fonts/ProximaNova-Regular.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('/assets/fonts/ProximaNova-Regular.ttf') format('truetype'),
    url('/assets/fonts/ProximaNova-Regular.svg#amsipronarw-thinuploaded_file') format('svg');
    font-style: normal;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    background-color: white;
    font-family: "Baskerville",serif;
}

h1, h2, h3 {
    font-family: "Amsi Pro Narrow",sans-serif;
}

amp-sidebar {
    width: 270px;
    background-color: #31c7ce;
    font-family: "Amsi Pro Narrow Bold",sans-serif;
}

amp-sidebar button {
    position: absolute;
    right: 17px;
    top: 43px;
    border: 0;
    background: transparent;
}

amp-sidebar button svg {
    fill: #fff;
    width: 20px;
    height: 20px;
}

amp-sidebar ul {
    list-style: none;
    padding-left: 15px;
    margin-top: 35px;
}

amp-sidebar li {
    font-size: 22px;
    text-transform: uppercase;
}

amp-sidebar li a {
    color: #fff;
    display: block;
    padding: 10px 0;
    text-decoration: none;
}

.site-logo {
    position: relative;
    background: #31c7ce;
    text-align: center;
}

.site-logo amp-img {
    margin: 0;
}

.site-logo button {
    position: absolute;
    top: 15px;
    left: 10px;
    border: 0;
    background: transparent;
}

.site-logo button svg {
    fill: #fff;
}

.article {
    margin: 25px 0 0;
    color: #333;
    letter-spacing: .01em;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
    font-family: "Baskerville",serif;
    padding: 0 15px;
}

.main {
    padding: 0 15px;
}

.article__header {
    text-align: center;
}

.article__title {
    color: #333;
    font: 24px/26px "Amsi Pro Narrow",sans-serif;
    font-weight: 400;
    margin-bottom: 6px;
    margin-top: 25px;
}

.article__summary {
    color: #676467;
    font: normal 400 19px/25px "Baskerville",serif;
    letter-spacing: .01em;
    margin: 0 auto;
    word-wrap: break-word;
}

.article__date-created {
    display: inline-block;
    line-height: 12px;
    font-size: 11px;
    text-transform: uppercase;
    font-weight: 400;
    font-family: "Amsi Pro Narrow",sans-serif;
    color: #999;
    letter-spacing: 0.6px;
    margin-top: 15px;
    margin-right: 0;
}

.content-body__heading h2 {
    color: #333;
    font: 400 24px/26px "Amsi Pro Narrow", sans-serif;
    padding: 25px 0 0;
    margin: 0;
}

.content-body__paragraph {
    padding: 0;
    margin: 20px 0;
}

.content-body__related-content {
    background: none;
    border: 1px solid transparent;
    border-top-color: #ddd;
    padding: 35px 0px 10px;
    position: relative;
    margin: 0;
    margin-top: 30px;
    width: 100%;
}

.related-content__heading {
    background: none;
    font: 400 30px/36px "Amsi Pro Narrow", sans-serif;
    letter-spacing: .1em;
    position: static;
    text-align: center;
    text-indent: 0;
    z-index: 1;
    background: #FFF;
    width: 190px;
    margin: 0 auto;
    font-size: 20px;
    margin-top: -57px;
    color: #333;
    text-transform: uppercase;
}

.related-content__wrapper {
    margin: 0 7.5px;
    padding-top: 20px;
}

.related-content__items {
    width: auto;
    margin: 0 -15px;
    max-width: none;
    padding: 0;
}

.related-content__items:after {
    content: '';
    display: block;
    clear: both;
}

.feed-item {
    width: 50%;
    padding-left: 7.5px;
    padding-right: 7.5px;
    float: left;
    list-style: none;
    background-color: transparent;
}

.feed-item amp-img {
    margin: 0;
}

.feed-item__body-title {
    color: #333;
    font: 14px/20px "Amsi Pro Narrow",sans-serif;
    margin-bottom: 5px;
    text-align: center;
    margin-top: 12px;
    float: left;
    width: 100%;
    text-decoration: none;
}

figure {
    margin: 0 -15px;
}

figure amp-img {
    margin-bottom: 0;
}

figcaption {
    font-size: 13px;
    font-style: normal;
    line-height: 20px;
    padding: 8px 15px 6px 15px;
    text-align: left;
    color: #ccc;
    background-color: #222;
}

.article__footer {
    margin-top: 30px;
}

.tags__title {
    color: #333;
    font: 400 20px/32px Baskerville,serif;
    letter-spacing: .01em;
    font-style: italic;
    text-transform: capitalize;
}

.related-tags {
    display: inline;
    margin: 0;
    padding: 0;
}

.related-tags li {
    display: inline;
    list-style: none;
}

.related-tags a {
    color: #333;
}

.social-share {
    text-align: center;
}

amp-img, amp-carousel, amp-iframe, amp-twitter, amp-vimeo,
amp-instaagram, amp-facebook, amp-brightcove, amp-youtube, amp-vine {
    margin: 20px 0;
}

amp-ad {
        margin: 0 auto;
}

.footer {
    padding: 40px 0;
}

.footer a {
    text-decoration: none;
}

.footer__navigation {
    text-align: center;
}

.footer__navigation ul {
    margin-top: 20px;
    padding: 0;
    margin-bottom: 0;
}

.footer__navigation li {
    display: inline-block;
    line-height: 21px;
    list-style: none;
    margin: 0;
}

.footer__navigation li:not(:last-child):after {
    color: #999;
    content: '|';
    font-size: 14px;
    margin: 0 10px;
    position: relative;
    top: -1px;
}

.footer__navigation li a {
    color: #999;
    font-family: "Proxima Nova",sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: .6px;
    margin-left: 1px;
    text-transform: uppercase;
    -webkit-transition: linear .175s;
    transition: linear .175s;
}

.footer__copyright {
    line-height: 15px;
    padding-top: 4px;
    text-align: center;
}

.footer__copyright span {
    color: #999;
    font-family: "Proxima Nova",sans-serif;
    font-size: 12px;
    letter-spacing: .020em;
    text-transform: uppercase;
}

@media only screen and (min-width: 691px) {
    .site-logo {
        margin-bottom: 40px;
    }

    .article__title {
        font-size: 38px;
        line-height: 46px;
    }

    amp-facebook {
        margin:0 auto;
        width: 75%;
    }
}
