.home-page {
    .ad--section-top-leaderboard {
        background-color: $color-white;
        background: none;
        margin-bottom: 0;
        padding-top: 15px;
        padding-bottom: 15px;
    }
}
