.home-page {
    &__carousel-container {
        background: url(/assets/backgrounds/video.svg) repeat;
        background-size: 250%;
        position: relative;
        padding-top: 75px;

        @media #{$medium-up} {
            padding-top: 170px;
            background-size: 280%;
        }

        @media #{$large-up} {
            background-size: 215%;
        }

        @media #{$xlarge-up} {
            padding-top: 185px;
            background-size: 120%;
        }

        .carousel-container__heading {
            background: url(/assets/titles/dolly-video.svg) center no-repeat;
            height: 55px;
            top: 10px;
            left: 0;
            overflow: hidden;
            position: absolute;
            text-indent: -1000px;
            width: 100%;

            @media #{$medium-up} {
                height: 120px;
                top: 25px;
            }
        }
    }
}
