.content-wrapper {
    overflow: hidden !important;
}

.home-page {
    &__top-container {
        padding-top: 20px;

        @media #{$medium-up} {
            padding-top: 40px;
        }

        @media #{$xlarge-up} {
            border-width: 10px;
            padding-top: 50px;
        }

        .row {
            @media #{$medium-only} {
                margin: {
                    left: 0;
                    right: 0;
                }
            }
        }
    }
}

.stripe-bg {
    background: none;
}
