.home-page__social-wrapper {
    margin: {
        top: 30px;
    }
    display: none;

    @media #{$large-up} {
        display: block;
        margin: {
            top: 0;
        }
    }

    .columns {
        padding: {
            left: 0;
            right: 0;
        }
    }

    .ad--section-mrec {
        margin-left: -5px;
        margin-bottom: 30px;
    }
}

.home-page__social-logo {
    background: url('/assets/backgrounds/n2l-logo.svg') no-repeat;
    background-size: 202px;
    width: 202px;
    display: inline-block;
    text-indent: -99999rem;
    margin-bottom: 20px;
}

.home-page__get-social-container {
    text-align: center;

    margin: {
        bottom: 35px;
    }

    .get-social {
        margin: {
            bottom: 0;
        }

        .columns {
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
}
