.home-page {
    &__teasers-title {
        position: relative;
        text-align: center;
        margin-top: 20px;
        text-transform: uppercase;
        color: #333333;
        font: 14px/30px $font-family-sans-serif-primary;
        letter-spacing: .6px;

        &::before {
            border-top: 1px solid $color-grey-lighter;
            content: '';
            margin: 0 auto;
            position: absolute;
            top: 50%;
            left: 0;
            right: 0;
            bottom: 0;
            width: 100%;
            z-index: -1;
        }

        span {
            padding: 0 17px;
            background: $color-white;
        }
    }
}
