// Primary color
$color-primary: #31c7ce;
// TODO get new color hexcode
$color-primary-hover: #fe2ea9;

// Other colors
$color-purple: #811aff;
$color-violet: #ddd5ea;
$color-blue: #16d1ff;
$color-green: #11e061;
$color-yellow: #ffff5c;
$color-orange: #ff771d;
$color-red: #fc3959;

// Social
$facebook-blue: #597acb;
$twitter-blue: #5dc8ff;
$pinterest-red: #dd2724;
$instagram-brown: #b6956a;

// Variants
$color-primary-light: #fe2ea9;
$color-red-light: #ffd3ed;
$color-red-light2: #f8b8d6;

// B&W and Greys
$color-black: #333;
$color-black-light: #222;
$color-black-hover: #444;
$color-grey-darker: #777; // Used in @bxm/article
$color-grey-dark: #777; // Used in @bxm/article
$color-grey: #676467;
$color-grey-light: #999999;
$color-grey-lighter : #e9e9e9;
$color-white: #fff;
$color-aqua: #31c7ce;

// Brands
$wd-color: #ff2c71;
$aww-color: #b6956a;
$nl-color: #53a8b3;
$good-health-color: #6bc5aa;
$shop-color: #e2136e;
$nw-color: #ec008c;
$yours-color: #ed008e;
$take-5-color: #ec0057;
$ok-color: #cb071f;
$mother-baby-color: #ef85c9;

// Other
$line-color: #ddd;
$color-section-separator: #e5e5e5;
$color-header-menu-button: #555;
$color-footer-grey: #555;
