$facebook-color: #3b5998;
$facebook-footer-color: #5978ba;
$twitter-color: #00aced;
$twitter-footer-color: #69c4f0;
$instagram-footer-color: #b6956a;
$youtube-color: #e62117;
$snapchat-color: #fffc01;
$instagram-orange: #ffa800;
$newsletter-color: #ec008b;
