@font-face {
    font-family: 'Cabrito';
    src: url('/assets/fonts/CabritoNormRegular-webfont.eot');
    src: url('/assets/fonts/CabritoNormRegular-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/CabritoNormRegular-webfont.woff2') format('woff2'),
    url('/assets/fonts/CabritoNormRegular-webfont.woff') format('woff'),
    url('/assets/fonts/CabritoNormRegular-webfont.ttf') format('truetype'),
    url('/assets/fonts/CabritoNormRegular-webfont.svg#cabrito_norm_regularnormRg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cabrito';
    src: url('/assets/fonts/CabritoNormBold-webfont.eot');
    src: url('/assets/fonts/CabritoNormBold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/CabritoNormBold-webfont.woff2') format('woff2'),
    url('/assets/fonts/CabritoNormBold-webfont.woff') format('woff'),
    url('/assets/fonts/CabritoNormBold-webfont.ttf') format('truetype'),
    url('/assets/fonts/CabritoNormBold-webfont.svg#cabrito_norm_boldnorm_bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cabrito';
    src: url('/assets/fonts/CabritoCondRegularItalic-webfont.eot');
    src: url('/assets/fonts/CabritoCondRegularItalic-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/CabritoCondRegularItalic-webfont.woff2') format('woff2'),
    url('/assets/fonts/CabritoCondRegularItalic-webfont.woff') format('woff'),
    url('/assets/fonts/CabritoCondRegularItalic-webfont.ttf') format('truetype'),
    url('/assets/fonts/CabritoCondRegularItalic-webfont.svg#cabrito_cond_regular_condRgIt') format('svg');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Amsi Pro Narrow Bold';
    src: url('/assets/fonts/amsipronarw-bold-webfont.eot');
    src: url('/assets/fonts/amsipronarw-bold-webfont.eot?#iefix') format('embedded-opentype'),
    url('/assets/fonts/amsipronarw-bold-webfont.woff2') format('woff2'),
    url('/assets/fonts/amsipronarw-bold-webfont.woff') format('woff'),
    url('/assets/fonts/amsipronarw-bold-webfont.ttf') format('truetype'),
    url('/assets/fonts/amsipronarw-bold-webfont.svg#amsi_pro_narwbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

$font-family-sans-serif-primary: 'Amsi Pro Narrow Bold', sans-serif;
$font-family-serif-primary: 'Cabrito', serif;

$to-love-font-family-sans-serif: $font-family-sans-serif-primary;

// ---------------------------------------------------- base elements

html {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

body {
    color: $color-grey-light;
    font-family: $font-family-serif-primary;
    font-size: 100%; //16px
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
}

a {
    color: $color-primary;
    text-decoration: none;

    &:hover,
    &:focus {
        text-decoration: underline;
    }
}

// ---------------------------------------------------- typography mixins & classes

@mixin type-header {
    color: $color-grey;
    font: 500 15px / 1.4 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-header {
    @include type-header;
}

@mixin type-side-menu-link {
    color: $color-white;
    font: 500 20px / 1.5 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-side-menu-link {
    @include type-side-menu-link;
}

// Article
@mixin type-article-title {
    color: $color-black;
    font: 400 22px / 30px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        font-size: 46px;
        line-height: 58px;
    }

    @media #{$xlarge-up} {
        font-size: 62px;
        line-height: 80px;
    }
}

.type-article-title {
    @include type-article-title;
}

@mixin type-article-summary {
    color: $color-grey;
    font: italic 400 15px / 25px $font-family-serif-primary;
    letter-spacing: .01em;

    @media #{$medium-up} {
        font-size: 20px;
        line-height: 36px;
    }
}

.type-article-summary {
    @include type-article-summary;
}

@mixin type-article-body {
    color: $color-black;
    font: 400 15px / 25px $font-family-serif-primary;
    letter-spacing: .01em;

    @media #{$medium-up} {
        font-size: 18px;
        line-height: 34px;
    }
}

.type-article-body {
    @include type-article-body;
}

@mixin type-article-heading {
    color: $color-black;
    font: 400 22px / 30px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        font-size: 30px;
        line-height: 40px;
    }
}

.type-article-heading {
    @include type-article-heading;
}

@mixin type-article-quote {
    color: $color-black;
    font: italic 400 26px / 1.731 $font-family-serif-primary;
    letter-spacing: .01em;

    @media #{$xlarge-up} {
        font-size: 36px;
        line-height: 1.667;
    }
}

.type-article-quote {
    @include type-article-quote;
}

// Section
@mixin type-section-title {
    color: $color-black;
    font: 400 36px / 1em $font-family-sans-serif-primary;
    text-transform: uppercase;

    @media #{$medium-up} {
        font-size: 60px;
    }

    @media #{$xlarge-up} {
        font-size: 80px;
    }
}

.type-section-title {
    @include type-section-title;
}

// Inline gallery
@mixin type-inline-gallery-header {
    color: $color-white;
    font: 500 15px / 1.467 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;

    @media #{$medium-only} {
        font-size: 20px;
        line-height: 1.5;
    }

    @media #{$xlarge-up} {
        font-size: 20px;
        line-height: 1.5;
    }
}

.type-inline-gallery-header {
    @include type-inline-gallery-header;
}

@mixin type-inline-gallery-title {
    color: $color-primary;
    font: 400 15px / 1.2 $font-family-serif-primary;
    letter-spacing: .01em;
    text-transform: uppercase;

    @media #{$medium-only} {
        font-size: 20px;
    }

    @media #{$xlarge-up} {
        font-size: 20px;
    }
}

.type-inline-gallery-title {
    @include type-inline-gallery-title;
}

@mixin type-gallery-header {
    color: $color-black;
    font: 500 17px / 1.765 $font-family-serif-primary;

    @media #{$xlarge-up} {
        font-size: 20px;
        line-height: 1.5;
    }
}

.type-gallery-header {
    @include type-gallery-header;
}

// Tags
@mixin type-tags($color: $color-grey) {
    color: $color;
    font: 500 11px / 1.5 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-tags {
    @include type-tags;
}

// Teasers
@mixin type-top-teaser-title {
    color: $color-black;
    font: 400 22px / 30px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        font-size: 28px;
        line-height: 38px;
    }
}

.type-top-teaser-title {
    @include type-top-teaser-title;
}

@mixin type-teaser-summary {
    color: $color-grey;
    font: italic 400 15px / 25px $font-family-serif-primary;
    letter-spacing: 0.01em;

    @media #{$xlarge-up} {
        font-size: 20px;
        line-height: 32px;
    }
}

.type-teaser-summary {
    @include type-teaser-summary;
}

// Small Teaser - ie, just below the hero on home page, above Gallery of Galleries

@mixin type-bottom-teaser-title {
    color: $color-black;
    font: 400 16px / 22px $font-family-sans-serif-primary;

    @media #{$xlarge-up} {
        font-size: 22px;
        line-height: 30px;
    }
}

.type-bottom-teaser-title {
    @include type-bottom-teaser-title;
}

// XSmall teaser (e.g. article page left hand side rail)
@mixin type-xsmall-teaser-title {
    color: $color-black;
    font: 400 16px / 24px $font-family-sans-serif-primary;
}

.type-xsmall-teaser-title {
    @include type-xsmall-teaser-title;
}

@mixin type-teaser-summary {
    color: $color-grey;
    font: italic 400 15px / 25px $font-family-serif-primary;
    letter-spacing: 0.01em;

    @media #{$xlarge-up} {
        font-size: 16px;
        line-height: 26px;
    }
}

// Related Content title inside articles
@mixin type-related-teaser-title {
    color: $color-white;
    font: 400 15px / 21px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        font-size: 22px;
        line-height: 30px;
    }
}

.type-related-teaser-title {
    @include type-related-teaser-title;
}

// Colourful block over teaser image
@mixin type-teaser-color-block {
    color: $color-white;
    font: 400 11px / 22px $font-family-sans-serif-primary;
    letter-spacing: 0.05em;
    text-transform: uppercase;

    @media #{$medium-up} {
        font-size: 14px;
        line-height: 24px;
    }

    @media #{$xlarge-up} {
        font-size: 16px;
        line-height: 28px;
    }
}

.type-teaser-color-block {
    @include type-teaser-color-block;
}

// Hero (e.g. on homepage)
@mixin type-hero-title {
    color: $color-black;
    font: 22px / 30px $font-family-sans-serif-primary;

    @media #{$medium-up} {
        font-size: 28px;
        line-height: 38px;
    }

    @media #{$xlarge-up} {
        font-size: 40px;
        line-height: 52px;
    }
}

.type-hero-title {
    @include type-hero-title;
}

@mixin type-hero-summary {
    color: $color-grey;
    font: italic 400 15px / 25px $font-family-serif-primary;
    letter-spacing: 0.01em;

    @media #{$xlarge-up} {
        font-size: 20px;
        line-height: 32px;
    }
}

.type-hero-summary {
    @include type-hero-summary;
}

// Navigation
@mixin type-navigation {
    color: $color-grey;
    font: 500 15px / 1.467 $font-family-sans-serif-primary;
    letter-spacing: .04em;
    text-transform: uppercase;
}

.type-navigation {
    @include type-navigation;
}

// Composite text
@mixin type-composite($color: $color-grey, $boldcolor: $color-grey) {
    color: $color;
    font: 300 36px / .889 $font-family-sans-serif-primary;
    letter-spacing: .1em;
    text-transform: uppercase;

    strong,
    b,
    .bold {
        color: $boldcolor;
        font: 400 39px / .842 $font-family-serif-primary;
    }
}

.type-composite {
    @include type-composite;
}

@mixin type-section-heading {
    @include type-composite;
    letter-spacing: .1em;
    text-align: center;

    @media #{$medium-up} {
        font-size: 48px;

        b,
        .bold {
            font-size: 52px;
        }
    }

    @media #{$large-up} {
        font-size: 60px;

        b,
        .bold {
            font-size: 64px;
        }
    }
}

.type-section-heading {
    @include type-section-heading;
}

@mixin type-underlined($border-color: $color-section-separator, $border-size: 2px) {
    text-align: center;

    &:after {
        border-bottom: $border-size solid $border-color;
        content: '';
        display: inline-block;
        position: relative;
        top: -30px;
        width: 100%;
    }
}

.type-underlined {
    @include type-underlined;
}

@mixin type-network-info {
    color: $color-grey-light;
    font-family: $font-family-sans-serif-primary;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .06em;
    text-transform: uppercase;

    @media #{$medium-up} {
        font-weight: 500;
        margin-bottom: -10px;
    }
}

.type-network-info {
    @include type-network-info;
}

@mixin type-subscribe-heading {
    color: $color-white;
    font-family: $font-family-sans-serif-primary;
    font-size: 20px;
    font-weight: 500;
    letter-spacing: .05em;
    text-transform: uppercase;

    @media #{$medium-up} {
        font-size: 24px;
    }
}

.type-subscribe-heading {
    @include type-subscribe-heading;
}

.black-bg {
    background-color: $color-black;
}

@mixin type-subscribe-content() {
    color: $color-violet;
    font-family: $font-family-serif-primary;
    font-size: 15px;
    letter-spacing: .020em;
    line-height: 24px;
}

.type-subscribe-content {
    @include type-subscribe-content;
}

@mixin type-social-link-label() {
    color: $color-white;
    font-family: $font-family-sans-serif-primary;
    font-size: 11px;
    letter-spacing: .05em;
    text-transform: uppercase;
}

.type-social-link-label {
    @include type-social-link-label;
}

// Error page
@mixin type-error-page {
    color: $color-black;
    font: 400 14px / 2 $font-family-serif-primary;

    @media #{$medium-up} {
        font-size: 18px;
    }

    @media #{$large-up} {
        font-size: 22px;
    }
}

.type-error-page {
    @include type-error-page;
}

// ---------------------------------------------------- reset mixins

@mixin reset-list {
    margin: 0;
    padding: 0;

    li {
        list-style: none;
    }
}
