.footer {
    padding: $footer-gap 0;
    position: relative;
    max-width: $row-width;
    margin: 0 auto;

    a {
        text-decoration: none;
        &:hover {
            text-decoration: none;
        }
    }

    @media #{$small-only} {
        background-size: 100px;
    }

    @media #{$medium-up} {
        border-top-width: 8px;
    }

    &__copyright {
        line-height: 15px;
        padding-top: 4px;
        text-align: center;

        span {
            color: $color-grey-light;
            font-family: $small-text-font;
            font-size: 12px;
            letter-spacing: .020em;
            text-transform:  uppercase;  

            @media #{$large-up} {
                font-size: 12px;
            }

        }
    }

    .get-social {
        width: 300px;

        &-title {
            display: none;
        }

        @media #{$medium-up} {
            width: 400px;
        }

        @media #{$xlarge-up} {
            width: 100%;
        }
    }

    .social-link {
        width: 55px;
    }

    .get-social__links {
        margin-bottom: 0;
    }

    .home-page__social-logo {
        background: url(/assets/logos/FollowNowToLove.svg) no-repeat;
        background-size: contain;
        height: 0;
        padding-bottom: 6%;
        width: 100%;
        max-width: 370px;
        min-width: 250px;
        display: inline-block;
        text-indent: -99999rem;
        margin-bottom: 0px;
        background-position: center;

        @media #{$medium-up} {
            padding-bottom: 4%;
        }
    }

    .home-page__get-social-container {
        margin-bottom: 10px;
    }

    .social-link__icon svg {
        width: 25px;
        height: 25px;
    }
}

.footer.footer--article {
    padding: 40px 0;

    @media #{$large-up} {
        clear: both;
        max-width: 1024px;
        margin: 60px auto 0 auto;
        padding: 80px 0 40px;

        .newsletter {
            margin-top: 0px;
            width: 100%;
        }
    }

    .get-social {
        .row {
            margin-left: auto;
            margin-right: auto;
        }

        @media #{$medium-up} {
            &, .get-social__links {
                width: 100%;
            }
        }

        &-title {
            display: none;
        }
        
        &__links {

            @media #{$large-up} {
                .row:before,
                .row:after {
                    display: table;
                }
            }

            @media #{$xlarge-up} {
                .row:before,
                .row:after {
                    display: inline-block;
                }
            }
        }
    }

    .subscribe {
        float: none;
        margin: 0 auto 20px;

        &__subscribe {
            margin-top: 40px;

            @media #{$medium-up} {
                margin-top: 0px;
            }
        }

        .subscription {

            &__image--mag {
                width: 152px;
                height: 208px;

                @media #{$medium-up} {
                    width: 202px;
                    height: 256px;
                }
            }

            &__image--ipad {
                width: 147px;
                height: 202px;

                @media #{$medium-up} {
                    width: 159px;
                    height: 228px;
                }
            }
        }
    }
}
