.footer {
    &__logos {
        padding-top: $footer-gap;
        border-top: 1px solid $color-grey-lighter;
        text-align: center;

        @media #{$medium-up} {
            margin-right: 30px;
            margin-left: 30px;
        }

        &-title {
            font-size: 20px;
            color: $color-black;
            font-family: $small-text-font;
            letter-spacing: 1.5px;
        }

        &-list {
            margin-top: $footer-gap/2;
            margin-bottom: 0;
            padding: 0;
            
            &__logo--nzww {
                max-height: 17px;
            }

            &__logo--awwnz {
                max-height: 21px;
            }

            &__logo--next {
                max-height: 18px;
            }

            &__logo--nzwd {
                max-height: 21px;
                padding-top: 2px;   
            }

            &__logo--nzgh {
                max-height: 36px;
                padding-top: 8px;
            }

            &__logo--simply {
                max-height: 24px;
            }
        }

        li {
            display: inline-block;
            list-style: none;
            margin: 10px;
            vertical-align: top;
            height: 30px;

            a {
                color: $color-grey-light;
                font-family: $small-text-font;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .6px;
                margin-left: 1px;
                text-transform: uppercase;
                transition: linear .175s;
                opacity: 1;

                img {
                    height: 100%;
                    width: auto;
                }

                @media #{$medium-up} {
                    font-size: 14px;
                }

                &:hover {
                    opacity: .8;
                }
            }
        }
    }
}
