.footer {
    &__navigation {
        text-align: center;

        ul {
            margin-top: 45px;
            padding: 0;
            margin-bottom: 10px;
            
            @media #{$medium-up} {
                margin-top: 50px;
            }
        }

        li {
            display: inline-block;
            line-height: 21px;
            list-style: none;
            margin: 0;

            a {
                color: $color-grey-light;
                font-family: $small-text-font;
                font-size: 12px;
                font-weight: 500;
                letter-spacing: .6px;
                margin-left: 1px;
                text-transform: uppercase;
                transition: linear .175s;

                @media #{$medium-up} {
                    font-size: 12px;
                }

                &:hover {
                    text-decoration: underline;  
                }
            }

            &:after {
                color: $color-grey-light;
                content: '|';
                font-size: 14px;
                margin: 0 10px;
                position: relative;
                top: -1px;
            }

            @media #{$medium-up} {
                &:last-child {
                    display: inline;
                }
            }

            &:last-child:after {
                display: none;
            }
        }
    }
}
