.newsletter {
    @include grid-column(12);
    margin-bottom: 0px;

    iframe {
        background-color: transparent;
        border: 0;
        float: left;
        height: 241px;
        overflow: hidden;
        width: 100%;

        @media #{$medium-up} {
            margin-bottom: 20px;
        }

        @media #{$xlarge-up} {
            height: 220px;
            margin-bottom: 40px;
        }
    }

    @media #{$xlarge-up} {
        @include grid-column(4);
        margin-top: 45px;
    }
}
