.subs-cover {
    display: inline-block;
    height: inherit;

    &--ipad {
        display: inline-block;
        width: 94%;
        height: 91%;
    }
}

.subscribe {
    margin-top: 10px;
    text-align: center;
    padding: 0 25px;

    @media #{$xlarge-up} {
        @include grid-column(8);
    }

    &__subscribe {
        margin: 30px auto auto;
        max-width: 350px;
        padding: 0 15px;

        @media #{$medium-up} {
            margin-top: 20px;
        }

        @media #{$large-up} {
            margin-top: 45px;
        }

    }

    &__heading {
        @include type-subscribe-heading;
        
        &:before {
            content: '';
            display: block;
            border: 8px solid transparent;
            border-top: 11px solid $color-primary;
            width: 0;
            margin: 0 auto 10px;
        }
    }

    &__content {
        @include type-subscribe-content;
        margin-bottom: 15px;
        margin-top: 4px;

        @media #{$medium-up} {
            margin-bottom: 30px;
            margin-top: 13px;
        }
    }

    &__action {
        @media #{$medium-up} {
            margin-top: -5px;
        }
    }

    .subscription {
        &__image {
            white-space: nowrap;
            overflow: hidden;
            text-align: center;

            a:only-of-type {
                width: 237px;
            }
        }

        &__image--mag {
            display: inline-block;
            width: 150px;
            height: auto;
            position: relative;
            left: 2%;
            width: 152px;
            height: 208px;

            @media #{$medium-up} {
                width: 202px;
                height: 256px;
            }

            @media #{$large-up} {
                width: 248px;
                height: 311px;
            }
        }

        &__image--ipad {
            background-image: url('/assets/backgrounds/ipad.png');
            padding: 16px 9px 17px;
            background-size: cover;
            color: transparent;
            display: inline-block;
            text-align: center;
            margin-top: 10px;
            margin-left: -10%;
            width: 147px;
            height: 202px;

            @media #{$medium-up} {
                width: 159px;
                height: 228px;
            }

            @media #{$large-up} {
                width: 197px;
                height: 281px;
            }
        }
    }
}
