.error-page {

    .header-wrapper--expanded {
        @media #{$medium-up} {
            margin-bottom: 213px - 76px;
        }
    }

    .header__sections {
        @media #{$medium-up} {
            display: none;
        }
    }

    .footer {
        margin-top: 0px;
    }
}

.error-page-container {
    color: $color-black;
    padding: 0 $column-gutter/2;
    text-align: center;

    @media #{$medium-up} {
        text-align: center;
    }

    .emoji {
        width: 245px;
        height: auto;
        position: relative;
        display: block;
        margin: 0 auto;

        @media #{$medium-up} {
            width: 386px;
        }
    }
}

.error-page-container__body-item {
    font-family: $font-family-serif-primary;
    font-size: 27px;

    @media #{$medium-up} {
        font-size: 60px;
    }
}

.error-page-container__homepage-link {
    font-weight: normal;
    color: $color-dark-aqua;
    font: italic 22px/30px $font-family-serif-primary;
    text-decoration: underline;
    text-transform: none;
}

.error-page-container__footer {
    margin-top: 30px;
    padding-bottom: 0;
}

.error-page-container__title {
    font: 38px/46px $font-family-sans-serif-primary;
    font-weight: 400;
    text-transform: none;
    line-height: 1.2em;
    letter-spacing: -1px;
    padding: 0;
    margin: 48px auto 35px;
    text-align: center;
    max-width: 360px;

    .page-title__symbol:before {
        content: none;
    }

    @media #{$medium-up} {
        font-size: 38px;
        line-height: 46px;
        max-width: 750px;
    }

    span:after {
        content: none;
    }
}
