.footer {
    position: relative;
    background: $color-black;
    margin-top: 90px;
    border-top: 5px solid $color-primary;

    @media #{$medium-up} {
        margin-top: 100px;
        border-top-width: 8px;
    }

    @media #{$xlarge-up} {
        margin-top: 120px;
        border-top-width: 10px;
    }

    &:before {
        content: 'GET MORE COSMO';
        display: block;
        position: absolute;
        top: -66px;
        left: 50%;
        margin-left: -107px;
        color: $color-primary;
        font: 30px $font-family-sans-serif-primary;

        @media #{$medium-up} {
            top: -94px;
            margin-left: -159px;
            font-size: 44px;
        }

        @media #{$xlarge-up} {
            top: -123px;
            margin-left: -253px;
            font-size: 70px;
        }
    }

    &:after {
        content: '';
        display: block;
        position: absolute;
        width: 30px;
        height: 30px;
        top: -16px;
        background: $color-white;
        border-bottom: 5px solid $color-primary;
        border-right: 5px solid $color-primary;
        transform: rotate(45deg);
        left: 50%;
        margin-left: -15px;

        @media #{$medium-up} {
            top: -27px;
            width: 50px;
            height: 50px;
            border-bottom-width: 8px;
            border-right-width: 8px;
            margin-left: -25px;
        }

        @media #{$xlarge-up} {
            top: -33px;
            width: 60px;
            height: 60px;
            border-bottom-width: 10px;
            border-right-width: 10px;
            margin-left: -30px;
        }
    }

    &.footer--article {
        @media #{$large-up} {
            padding: 80px 0 40px;
        }
    }

    &__copyright span {
        color: $color-grey;
    }

    .get-social {

        @media #{$medium-up} {
            &, .get-social__links {
                width: 100%;
            }
        }

        &-title {
            display: none;
        }
    }
}
