.subscribe__heading {
    &:before {
        content: '';
        display: block;
        border: 8px solid transparent;
        border-top: 11px solid $color-primary;
        width: 0;
        margin: 0 auto 10px;
    }
}
