.social-link {
    display: inline-block;
    position: relative;
    text-align: center;
    width: 75px;
    padding: 25px 0 0;

    @media #{$medium-up} {
        width: 100px;
        padding-top: 30px;
    }

    &__label {
        @include type-social-link-label;
        display: none;
        transition: color $transition-duration ease-in-out;

        @media #{$small-up} {
            display: inline;
        }

        &:before {
            content: '\A';
            white-space: pre;
        }
    }

    &__icon {
        img, svg {
            height: 30px;
            width: 30px;
            margin-bottom: 3px;
            vertical-align: middle;
           
            @media #{$medium-up} {
                height: 45px;
                width: 45px;
            }
        }

        svg {
            vertical-align: baseline;
            margin-left: 4px;
        }
    }

    &:hover {
        span {
            color: $color-white;
        }
    }

    &--facebook:hover svg,
    &--facebook:hover &__icon svg {
        fill:  #3B5998;   
    }

    &--twitter:hover svg,
    &--twitter:hover &__icon svg {
        fill: #03B3EE;
    }

    &--instagram:hover svg,
    &--instagram:hover &__icon svg {
        fill: #FFA800;
    }

    &--pinterest:hover svg,
    &--pinterest:hover &__icon svg {
        fill: #fc3959;
    }
    
}

