.get-social {
    margin: 0 auto 20px;
    text-align: center;

    .get-social-title {
        background: url($social-title-image) no-repeat center;
        height: 50px;
        background-size: 240px;

        @media #{$medium-up} {
            height: 70px;
            background-size: 300px;
        }

        @media #{$large-up} {
            height: 70px;
            background-size: 350px;
        }
    }

    a {
        text-decoration: none;
    }

    @media #{$medium-up} {
        margin-bottom: 40px;
    }

    @media #{$large-up} {
        padding-top: 0;
    }

    p {
        @include type-composite($color-grey-light, $color-white);
        @include type-underlined($color-footer-grey, 2px);
        display: inline-block;
        line-height: 30px;
        margin: auto;
        padding: 0;
        text-align: center;

        span {
            display: inline-block;
            padding-left: 13px;
            padding-right: 12px;
            position: relative;
            z-index: $z-index-5;
        }

        b {
            padding-right: 13px;
            position: relative;
            z-index: $z-index-5;
        }

        @media #{$medium-up} {
            span {
                padding-left: 27px;
                padding-right: 12px;
            }

            b {
                padding-right: 28px;
            }
        }
    }

    &__links {

        @media #{$small-up} {
            margin-bottom: 10px;
            margin-top: 0;

        }

        @media #{$xlarge-up} {
            .row {
                &:before,
                &:after {
                    display: inline-block;
                }
            }
        }
    }
}

.home-page {
    .get-social {
        .get-social__links {
            margin-top: 11px;
            margin-bottom: 0;

            .social-link {
                width: 72px;
                padding-top: 12px;

                .social-link__label {
                    color: $color-black;
                    display: block;

                    &:before {
                        content: '';
                    }
                }

                .social-link__icon {
                    img, svg {
                        height: 35px;
                        fill: $color-black;
                        width: 35px;
                        margin-bottom: 1px;
                    }
                }
            }

            .row {
                margin: 0;

                &:before,
                &:after {
                    display: table;
                }
            }
        }
    }
}
