.home-page__social-wrapper,
.page__social-wrapper {
    margin: {
        top: 30px;
    }
    display: none;

    @media #{$large-up} {
        display: block;
        margin: {
            top: 0;
        }
    }

    .columns {
        padding: {
            left: 0;
            right: 0;
        }
    }

    .ad--section-mrec {
        margin-left: 35px;
        margin-bottom: 30px;
        min-height: 250px;
        min-width: 300px;
    }
}

.home-page__social-logo,
.page__social-logo {
    display: none;
}

.page__social__title {
    font-family: $font-family-muli;
    font-size: 18px;
    line-height: 16px;
    text-transform: uppercase;
    color: $color-primary;
    font-weight: 600;
    margin-bottom: 0;
}

.home-page__get-social-container,
.page__get-social-container {
    text-align: center;
    margin-bottom: 35px;

    .social-links__text {
        font-family: $font-family-muli;
        font-size: 18px;
        line-height: 16px;
        text-transform: uppercase;
        color: $color-black-origin;
        font-weight: 600;
        margin-top: 5px;
        margin-bottom: 18px;
    }

    .get-social {
        margin: {
            bottom: 0;
        }

        .columns {
            padding: {
                left: 0;
                right: 0;
            }
        }
    }
}


