.page__top-container {
    .get-social {
        .get-social-title {
            background: none;
            width: 256px;
            height: 0;
            margin: 0 auto 2px;
            position: relative;

            &:before {
                color: $color-black-origin;
                content: 'Follow us now';
                height: 10px;
                display: block;
                font: 400 14px/18px $font-family-sans-serif-primary;
                text-align: center;
                letter-spacing: .5px;
                text-transform: capitalize;
            }
        }
    }
}
